openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Metrics API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Metrics
paths:
  /ad_accounts/{ad_account_id}/keywords/metrics:
    get:
      summary: Get country's keyword metrics
      description: 'See keyword metrics for a specified country, aggregated across all of Pinterest.

        (Definitions are available from the "Get delivery metrics definitions"

        <a href="/docs/api/v5/#operation/delivery_metrics/get">API endpoint</a>).'
      operationId: country_keywords_metrics/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_country_code'
      - $ref: '#/components/parameters/query_keywords'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsMetricsArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Metrics
  /resources/delivery_metrics:
    get:
      summary: Get available metrics' definitions
      description: 'Get the definitions for ads and organic metrics available across both synchronous and asynchronous report endpoints.

        The `display_name` attribute will match how the metric is named in our native tools like Ads Manager.

        See <a href=''/docs/content/analytics/''>Organic Analytics</a> and <a href=''/docs/ads/ad-analytics-reporting/''>Ads Analytics</a> for more information.'
      operationId: delivery_metrics/get
      security:
      - pinterest_oauth2:
        - ads:read
        - pins:read
        - user_accounts:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_report_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryMetricsResponse'
          description: Success
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Metrics
  /resources/metrics_ready_state:
    get:
      summary: Get metrics ready state
      description: Learn whether conversion or non-conversion metrics are finalized and ready to query.
      operationId: metrics_ready_state/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: enabled
      parameters:
      - name: date
        description: 'Analytics reports request date (UTC). Format: YYYY-MM-DD'
        in: query
        required: true
        style: form
        schema:
          type: string
          pattern: ^(\d{4})-(\d{2})-(\d{2})$
          example: '2022-07-13'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookClosedResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Metrics
components:
  schemas:
    KeywordMetricsResponse:
      title: KeywordMetricsResponse
      type: object
      properties:
        keyword:
          description: Keyword name, e.g., "keyword":"fashion outfits"
          example: animals
          title: keyword
          type: string
        metrics:
          $ref: '#/components/schemas/KeywordMetrics'
    BookClosedResponse:
      title: BookClosed
      description: Creation fields
      type: object
      properties:
        conversion_metrics_ready:
          title: conversion_metrics_ready
          description: Are conversion metrics ready?
          type: boolean
          example: false
        non_conversion_metrics_ready:
          title: non_conversion_metrics_ready
          description: Are non-conversion metrics ready?
          type: boolean
          example: false
    KeywordsMetricsArrayResponse:
      type: object
      title: KeywordMetricsArrayResponse
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/KeywordMetricsResponse'
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    KeywordMetrics:
      description: Keyword metrics JSON
      title: KeywordMetrics
      type: object
      properties:
        avg_cpc_in_micro_currency:
          example: 100000
          title: avg_cpc_in_micro_currency
          description: Average cost per click
          type: number
        keyword_query_volume:
          example: 5M+
          title: keyword_query_volume
          description: Keyword's search frequency. This value is based on keyword frequency in pepsi client response
          type: string
    DeliveryMetricsResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Metric's name.
                example: AD_GROUP_ID
              category:
                enum:
                - ADS
                - ORGANIC
                description: Category name
                example: ADS
              definition:
                type: string
                description: How the metric is defined.
                example: Unique ID for your ad group
              display_name:
                type: string
                description: Display name, when available. If unavaible it will not be returned. Matches how the metric is named in our native tools like Pinterest Ads Manager.
                example: Ad group ID
  parameters:
    query_country_code:
      name: country_code
      description: Two letter country code (ISO 3166-1 alpha-2)
      in: query
      example: US
      required: true
      explode: true
      schema:
        type: string
      style: form
    query_keywords:
      name: keywords
      description: Comma-separated keywords
      in: query
      required: true
      explode: false
      schema:
        items:
          type: string
        maxItems: 2000
        minItems: 1
        type: array
      style: form
    path_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    query_report_type:
      name: report_type
      description: Report type.
      in: query
      required: false
      schema:
        type: string
        enum:
        - SYNC
        - ASYNC
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
  - targeting_template
  - audience_insights
  - audience_sharing
- name: Ad Formats
  tags:
  - lead_forms
  - lead_ads
  - leads_export
- name: Billing
  tags:
  - billing
  - order_lines
  - terms_of_service
- name: Business Access
  tags:
  - business_access_assets
  - business_access_invite
  - business_access_relationships
- name: Conversions
  tags:
  - conversion_events
  - conversion_tags
- name: Others
  tags:
  - integrations
  - oauth
  - resources
  - search
  - terms
- name: Shopping
  tags:
  - catalogs
- name: Deprecated
  tags:
  - product_groups
