openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Line API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Line
paths:
  /ad_accounts/{ad_account_id}/order_lines/{order_line_id}:
    get:
      summary: Get order line
      description: Get a specific existing order line associated with an ad account.
      operationId: order_lines/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_order_line_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLine'
          description: Success
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Line
components:
  schemas:
    OrderLine:
      type: object
      allOf:
      - $ref: '#/components/schemas/OrderLines'
      - type: object
        properties:
          campaign_ids:
            description: Associated List of campaign IDs.
            example:
            - '626735565838'
            items:
              type: string
            title: campaign_ids
            type: array
        required:
        - campaign_ids
      title: OrderLine
    OrderLines:
      type: object
      title: OrderLines
      description: Order Line
      properties:
        id:
          description: Order line ID.
          example: '2680059592705'
          pattern: ^\d+$
          title: id
          type: string
        type:
          description: Always "orderline".
          example: orderline
          title: type
          type: string
        ad_account_id:
          description: Ad account ID.
          example: '549755885175'
          title: ad_account_id
          type: string
        purchase_order_id:
          description: Purchase order ID.
          example: PO12345
          title: purchase_order_id
          type: string
          nullable: true
        start_time:
          description: Start time. Unix timestamp.
          example: 1452208622
          title: start_time
          type: number
        end_time:
          description: End time. Unix timestamp.
          example: 1461269616
          title: end_time
          type: number
          nullable: true
        budget:
          description: Order line budget in micro currency.
          example: 5000000
          title: budget
          type: number
          nullable: true
        paid_budget:
          description: Order line paid budget in micro currency.
          example: 5000000
          title: paid_budget
          type: number
          nullable: true
        status:
          allOf:
          - $ref: '#/components/schemas/OrderLineStatus'
          description: Order line status.
          example: ACTIVE
          type: string
          title: status
        name:
          description: Order line name.
          example: Order Line Name 1
          title: name
          type: string
          nullable: true
        paid_type:
          allOf:
          - $ref: '#/components/schemas/OrderLinePaidType'
          type: string
          description: Order line paid type.
          example: PAID
          title: paid_type
          nullable: true
    OrderLinePaidType:
      description: Order Line Paid Type
      enum:
      - PAID
      - BONUS
      - MAKE_GOOD
      - TEST
      - null
      example: PAID
      title: OrderLinePaidType
      type: string
      nullable: true
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    OrderLineStatus:
      description: Order Line Status
      enum:
      - ACTIVE
      - PAUSED
      - DELETED
      example: ACTIVE
      title: OrderLineStatus
      type: string
  parameters:
    path_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    path_order_line_id:
      name: order_line_id
      description: Unique identifier of an order line.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
  - targeting_template
  - audience_insights
  - audience_sharing
- name: Ad Formats
  tags:
  - lead_forms
  - lead_ads
  - leads_export
- name: Billing
  tags:
  - billing
  - order_lines
  - terms_of_service
- name: Business Access
  tags:
  - business_access_assets
  - business_access_invite
  - business_access_relationships
- name: Conversions
  tags:
  - conversion_events
  - conversion_tags
- name: Others
  tags:
  - integrations
  - oauth
  - resources
  - search
  - terms
- name: Shopping
  tags:
  - catalogs
- name: Deprecated
  tags:
  - product_groups
