openapi: 3.2.0
info:
  version: 5.13.0
  title: Pinterest Product API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Product
paths:
  /catalogs/product_groups/multiple:
    delete:
      x-ratelimit-category: catalogs_write
      summary: Delete multiple product groups
      description: 'Delete product groups owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more'
      operationId: catalogs_product_groups/delete_many
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_catalogs_product_group_ids_required'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      responses:
        '204':
          description: Catalogs Product Groups deleted successfully.
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't delete this catalogs product group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupHasActivePromotions:
                  value:
                    code: 4176
                    message: We can't delete a Catalogs Product Group with active promotions.
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
    post:
      x-ratelimit-category: catalogs_write
      summary: Create multiple product group
      description: 'Create product group to use in Catalogs owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more


        Note: The catalog type of Creative Assets is only allowed in the Pinterest API Sandbox.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/create_many
      security:
      - pinterest_oauth2:
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object used to create one or more catalogs product groups.
        required: true
        content:
          application/json:
            schema:
              type: array
              title: multiple product groups
              items:
                oneOf:
                - $ref: '#/components/schemas/CatalogsProductGroupCreateRequest'
                - $ref: '#/components/schemas/CatalogsVerticalProductGroupCreateRequest'
            examples:
              RetailFewFiltersUsingAllOf:
                summary: A simple retail example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a product to be included in the Product Group.

                  '
                value:
                - name: Few Filters using "all_of"
                  feed_id: '2680059592705'
                  featured: false
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 999.99
                        inclusion: true
                    - CURRENCY:
                        values: USD
                    - CUSTOM_LABEL_0:
                        values:
                        - Luxury Items
              RetailManyFiltersUsingAnyOf:
                summary: A more complete retail example that applies "any of the following filters".
                description: 'The use of "any_of" creates a Product Group where any of the individual filters

                  can add products to the Product Group independently.

                  '
                value:
                - name: Many Filters using "any_of"
                  featured: false
                  feed_id: '2680059592705'
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 111.55
                        inclusion: false
                        negated: false
                    - CURRENCY:
                        values: USD
                        negated: false
                    - AVAILABILITY:
                        values:
                        - IN_STOCK
                        - OUT_OF_STOCK
                        - PREORDER
                        negated: false
                    - BRAND:
                        values:
                        - avanti
                        - beautyrest
                        negated: true
                    - GOOGLE_PRODUCT_CATEGORY_0:
                        values:
                        - - furniture
                          - tables
                          - accent tables
                          - end tables
                        - - furniture
                          - chairs
                          - slipper chairs
                        - - home & garden
                        negated: false
                    - CONDITION:
                        values:
                        - NEW
                        - REFURBISHED
                        - USED
                        negated: false
                    - CUSTOM_LABEL_0:
                        values:
                        - 004 - home furn leisure
                        negated: false
                    - CUSTOM_LABEL_1:
                        values:
                        - clearance
                        - original price
                        negated: false
                    - CUSTOM_LABEL_2:
                        values:
                        - 789 - table linens
                        - 794 - living room accents
                        negated: false
                    - GENDER:
                        values:
                        - FEMALE
                        - MALE
                        - UNISEX
                        negated: false
                    - ITEM_ID:
                        values:
                        - does not exists
                        - this one neither
                        - nope
                        negated: true
                    - ITEM_GROUP_ID:
                        values:
                        - nonexistant group
                        - another one
                        - last one
                        negated: true
                    - PRODUCT_TYPE_0:
                        values:
                        - - accent chairs
                          - club chairs
                        - - accent chairs
                          - slipper chairs
                        - - accent tables
                          - end tables
                        - - air mattresses
                          - air mattresses
                        - - table linens
                        negated: false
              HotelFewFiltersUsingAllOf:
                summary: A simple hotel example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a hotel to be included in the Product Group.

                  '
                value:
                - catalog_type: HOTEL
                  name: Few Filters using "all_of"
                  catalog_id: '4866935934774'
                  filters:
                    all_of:
                    - HOTEL_ID:
                        values:
                        - hotel1
                        - hotel2
                    - CUSTOM_LABEL_1:
                        values:
                        - big_hotels
                        negated: false
      responses:
        '201':
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ID of a created catalog product group.
                  example: '443727193917'
                  type: string
                  pattern: ^\d+$
          description: Success
        '400':
          description: Invalid body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
  /catalogs/product_groups:
    get:
      x-ratelimit-category: catalogs_read
      summary: List product groups
      description: 'Get a list of product groups for a given Catalogs Feed Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more'
      operationId: catalogs_product_groups/list
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_catalogs_product_group_ids'
      - $ref: '#/components/parameters/query_catalogs_feed_id'
      - $ref: '#/components/parameters/query_catalogs_catalog_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
    post:
      x-ratelimit-category: catalogs_write
      summary: Create single product group
      description: 'Create product group to use in Catalogs owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more


        Note: The catalog type of Creative Assets is only allowed in the Pinterest API Sandbox.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/create
      security:
      - pinterest_oauth2:
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object used to create a single catalogs product groups.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CatalogsProductGroupCreateRequest'
              - $ref: '#/components/schemas/CatalogsVerticalProductGroupCreateRequest'
            examples:
              RetailFewFiltersUsingAllOf:
                summary: A simple retail example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a product to be included in the Product Group.

                  '
                value:
                  name: Few Filters using "all_of"
                  feed_id: '2680059592705'
                  featured: false
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 999.99
                        inclusion: true
                    - CURRENCY:
                        values: USD
                    - CUSTOM_LABEL_0:
                        values:
                        - Luxury Items
              RetailManyFiltersUsingAnyOf:
                summary: A more complete retail example that applies "any of the following filters".
                description: 'The use of "any_of" creates a Product Group where any of the individual filters

                  can add products to the Product Group independently.

                  '
                value:
                  name: Many Filters using "any_of"
                  featured: false
                  feed_id: '2680059592705'
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 111.55
                        inclusion: false
                        negated: false
                    - CURRENCY:
                        values: USD
                        negated: false
                    - AVAILABILITY:
                        values:
                        - IN_STOCK
                        - OUT_OF_STOCK
                        - PREORDER
                        negated: false
                    - BRAND:
                        values:
                        - avanti
                        - beautyrest
                        negated: true
                    - GOOGLE_PRODUCT_CATEGORY_0:
                        values:
                        - - furniture
                          - tables
                          - accent tables
                          - end tables
                        - - furniture
                          - chairs
                          - slipper chairs
                        - - home & garden
                        negated: false
                    - CONDITION:
                        values:
                        - NEW
                        - REFURBISHED
                        - USED
                        negated: false
                    - CUSTOM_LABEL_0:
                        values:
                        - 004 - home furn leisure
                        negated: false
                    - CUSTOM_LABEL_1:
                        values:
                        - clearance
                        - original price
                        negated: false
                    - CUSTOM_LABEL_2:
                        values:
                        - 789 - table linens
                        - 794 - living room accents
                        negated: false
                    - GENDER:
                        values:
                        - FEMALE
                        - MALE
                        - UNISEX
                        negated: false
                    - ITEM_ID:
                        values:
                        - does not exists
                        - this one neither
                        - nope
                        negated: true
                    - ITEM_GROUP_ID:
                        values:
                        - nonexistant group
                        - another one
                        - last one
                        negated: true
                    - PRODUCT_TYPE_0:
                        values:
                        - - accent chairs
                          - club chairs
                        - - accent chairs
                          - slipper chairs
                        - - accent tables
                          - end tables
                        - - air mattresses
                          - air mattresses
                        - - table linens
                        negated: false
              HotelFewFiltersUsingAllOf:
                summary: A simple hotel example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a hotel to be included in the Product Group.

                  '
                value:
                  catalog_type: HOTEL
                  name: Few Filters using "all_of"
                  catalog_id: '4866935934774'
                  filters:
                    all_of:
                    - HOTEL_ID:
                        values:
                        - hotel1
                        - hotel2
                    - CUSTOM_LABEL_1:
                        values:
                        - big_hotels
                        negated: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
  /catalogs/product_groups/{product_group_id}:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get single product group
      description: 'Get a singe product group for a given Catalogs Product Group Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more'
      operationId: catalogs_product_groups/get
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid catalogs product group id parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't get a catalogs product group without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't acccess this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
    delete:
      x-ratelimit-category: catalogs_write
      summary: Delete single product group
      description: 'Delete a product group owned by the "operation user_account" from being in use in Catalogs.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more'
      operationId: catalogs_product_groups/delete
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      responses:
        '204':
          description: Catalogs Product Group deleted successfully.
        '400':
          description: Invalid catalogs product group id parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't delete this catalogs product group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupHasActivePromotions:
                  value:
                    code: 4176
                    message: We can't delete a Catalogs Product Group with active promotions.
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
    patch:
      x-ratelimit-category: catalogs_write
      summary: Update single product group
      description: 'Update product group owned by the "operation user_account" to use in Catalogs.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Learn more


        Note: The catalog type of Creative Assets is only allowed in the Pinterest API Sandbox.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/update
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      requestBody:
        description: Request object used to Update a catalogs product group.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CatalogsProductGroupUpdateRequest'
              - $ref: '#/components/schemas/CatalogsVerticalProductGroupUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't update this catalogs product group to this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
  /catalogs/product_groups/{product_group_id}/product_counts:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get product counts for a Product Group
      description: 'Get a product counts for a given Catalogs Product Group owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Note: This endpoint only supports RETAIL catalog at the moment.


        Learn more'
      operationId: catalogs_product_groups/product_counts_get
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsProductGroupProductCounts'
          description: Success
        '404':
          description: Product Group Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Can't access this feature without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
  /catalogs/product_groups/{product_group_id}/products:
    get:
      x-ratelimit-category: catalogs_read
      summary: List products for a Product Group
      description: 'Get a list of product pins for a given Catalogs Product Group Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an ad_account_id (obtained via List ad accounts) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following Business Access roles on the ad_account: Owner, Admin, Catalogs Manager.


        Note: This endpoint only supports RETAIL catalog at the moment.


        Learn more'
      operationId: catalogs_product_group_pins/list
      security:
      - pinterest_oauth2:
        - boards:read
        - catalogs:read
        - pins:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      description: Pins
                      items:
                        $ref: '#/components/schemas/CatalogsProduct'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Product
components:
  schemas:
    CatalogsHotelProductGroupFilters:
      description: Object holding a group of filters for a hotel product group
      title: catalogs_product_group_filters
      type: object
      anyOf:
      - $ref: '#/components/schemas/CatalogsHotelProductGroupFiltersAnyOf'
      - $ref: '#/components/schemas/CatalogsHotelProductGroupFiltersAllOf'
    CatalogsProductGroupProductCounts:
      title: catalogs_product_group_product_counts
      description: Product counts for a CatalogsProductGroup
      type: object
      properties:
        in_stock:
          type: number
          minimum: 0
        out_of_stock:
          type: number
          minimum: 0
        preorder:
          type: number
          minimum: 0
        total:
          type: number
          minimum: 0
      required:
      - in_stock
      - out_of_stock
      - preorder
      - total
    CatalogsRetailProductGroup:
      type: object
      title: retail_product_group
      properties:
        catalog_type:
          type: string
          enum:
          - RETAIL
        id:
          description: ID of the catalog product group.
          example: '443727193917'
          type: string
          pattern: ^\d+$
        name:
          description: Name of catalog product group
          example: Most Popular
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFilters'
        is_featured:
          description: boolean indicator of whether the product group is being featured or not
          type: boolean
        type:
          $ref: '#/components/schemas/CatalogsProductGroupType'
        status:
          $ref: '#/components/schemas/CatalogsProductGroupStatus'
        created_at:
          description: Unix timestamp in seconds of when catalog product group was created.
          example: 1621350033000
          type: integer
        updated_at:
          description: Unix timestamp in seconds of last time catalog product group was updated.
          example: 1622742155000
          type: integer
        catalog_id:
          description: Catalog id pertaining to the retail product group.
          type: string
          pattern: ^\d+$
        feed_id:
          description: id of the catalogs feed belonging to this catalog product group
          example: '2680059592705'
          type:
          - string
          - 'null'
          pattern: ^\d+$
      required:
      - filters
      - id
      - catalog_id
      - feed_id
      - catalog_type
    CatalogsProductGroupFiltersAllOf:
      type: object
      additionalProperties: false
      properties:
        all_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsProductGroupFilterKeys'
      required:
      - all_of
    ProductType3Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_3:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_3
    CatalogsCreativeAssetsProductGroupFilters:
      description: Object holding a group of filters for a creative assets product group
      title: catalogs_product_group_filters
      type: object
      anyOf:
      - $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFiltersAnyOf'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFiltersAllOf'
    ItemIdFilter:
      type: object
      additionalProperties: false
      properties:
        ITEM_ID:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - ITEM_ID
    PinMediaSourceVideoID:
      title: Video ID
      description: Video ID-based media source
      type: object
      properties:
        source_type:
          type: string
          enum:
          - video_id
        cover_image_url:
          type: string
          description: Cover image url.
        cover_image_content_type:
          type: string
          description: Content type for cover image Base64.
          enum:
          - image/jpeg
          - image/png
        cover_image_data:
          type: string
          description: Cover image Base64.
        media_id:
          type: string
          pattern: ^\d+$
        is_standard:
          type: boolean
          description: Set the parameter to false to create the new simplified Pin instead of the standard pin. Currently the field is only available to a list of beta users.
          default: true
      required:
      - source_type
      - media_id
    ProductType4Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_4:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_4
    MediaTypeFilter:
      type: object
      additionalProperties: false
      properties:
        MEDIA_TYPE:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleMediaTypesCriteria'
      required:
      - MEDIA_TYPE
    CatalogsVerticalProductGroup:
      type: object
      title: product_group
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailProductGroup'
      - $ref: '#/components/schemas/CatalogsHotelProductGroup'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroup'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailProductGroup'
          HOTEL: '#/components/schemas/CatalogsHotelProductGroup'
          CREATIVE_ASSETS: '#/components/schemas/CatalogsCreativeAssetsProductGroup'
    PinMediaSourceImageBase64:
      title: Image Base64
      description: Base64-encoded image media source
      type: object
      properties:
        source_type:
          type: string
          enum:
          - image_base64
        content_type:
          type: string
          enum:
          - image/jpeg
          - image/png
        data:
          type: string
          pattern: '[a-zA-Z0-9+\/=]+'
        is_standard:
          type: boolean
          description: Set the parameter to false to create the new simplified Pin instead of the standard pin. Currently the field is only available to a list of beta users.
          default: true
      required:
      - source_type
      - content_type
      - data
    BrandFilter:
      type: object
      additionalProperties: false
      properties:
        BRAND:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - BRAND
    CreativeType:
      type: string
      description: Ad creative type enum. For update, only draft ads may update creative type. </p><strong>Note:</strong> SHOP_THE_PIN has been deprecated. Please use COLLECTION instead.
      enum:
      - REGULAR
      - VIDEO
      - SHOPPING
      - CAROUSEL
      - MAX_VIDEO
      - SHOP_THE_PIN
      - COLLECTION
      - IDEA
      - SHOWCASE
      - QUIZ
      example: REGULAR
      title: CreativeType
    CatalogsHotelProductGroupFiltersAnyOf:
      type: object
      additionalProperties: false
      properties:
        any_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsHotelProductGroupFilterKeys'
      required:
      - any_of
    AvailabilityFilter:
      type: object
      additionalProperties: false
      properties:
        AVAILABILITY:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - AVAILABILITY
    NonNullableCatalogsCurrency:
      type: string
      description: Currency Codes from ISO 4217.
      example: USD
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BYR
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SPL
      - SRD
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XDR
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWD
    GoogleProductCategory5Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_5:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_5
    ProductType0Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_0:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_0
    CatalogsHotelProductGroup:
      type: object
      title: hotel_product_group
      properties:
        catalog_type:
          type: string
          enum:
          - HOTEL
        id:
          description: ID of the hotel product group.
          example: '443727193917'
          type: string
          pattern: ^\d+$
        name:
          description: Name of hotel product group
          example: Most Popular
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsHotelProductGroupFilters'
        created_at:
          description: Unix timestamp in seconds of when catalog product group was created.
          example: 1621350033000
          type: integer
        updated_at:
          description: Unix timestamp in seconds of last time catalog product group was updated.
          example: 1622742155000
          type: integer
        catalog_id:
          description: Catalog id pertaining to the hotel product group.
          type: string
          pattern: ^\d+$
      required:
      - id
      - filters
      - catalog_type
      - catalog_id
    CatalogsProductGroupCreateRequest:
      type: object
      title: retail feed based
      description: Request object for creating a product group.
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        is_featured:
          description: boolean indicator of whether the product group is being featured or not
          type: boolean
          default: false
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFiltersRequest'
        feed_id:
          description: Catalog Feed id pertaining to the catalog product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
      required:
      - name
      - filters
      - feed_id
    MinPriceFilter:
      type: object
      additionalProperties: false
      properties:
        MIN_PRICE:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupPricingCriteria'
      required:
      - MIN_PRICE
    CatalogsProductGroupMultipleGenderCriteria:
      title: catalogs_product_group_multiple_gender_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/Gender'
        negated:
          type: boolean
          default: false
      required:
      - values
    GoogleProductCategory3Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_3:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_3
    CatalogsProductGroupMultipleCountriesCriteria:
      title: catalogs_product_group_multiple_country_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        negated:
          type: boolean
          default: false
      required:
      - values
    CatalogsProductGroupFiltersRequest:
      description: Object holding a group of filters for request on catalog product group. This is a distinct schema It is not possible to create or update a Product Group with empty filters. But some automatically generated Product Groups might have empty filters.
      title: catalogs_product_group_filters
      type: object
      anyOf:
      - type: object
        additionalProperties: false
        properties:
          any_of:
            type: array
            items:
              type: object
              $ref: '#/components/schemas/CatalogsProductGroupFilterKeys'
            minItems: 1
        required:
        - any_of
      - type: object
        additionalProperties: false
        properties:
          all_of:
            type: array
            items:
              type: object
              $ref: '#/components/schemas/CatalogsProductGroupFilterKeys'
            minItems: 1
        required:
        - all_of
    GoogleProductCategory0Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_0:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_0
    CatalogsHotelProductGroupFiltersAllOf:
      type: object
      additionalProperties: false
      properties:
        all_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsHotelProductGroupFilterKeys'
      required:
      - all_of
    CatalogsCreativeAssetsProductGroupFilterKeys:
      title: catalogs_product_group_keys
      anyOf:
      - $ref: '#/components/schemas/CreativeAssetsIdFilter'
      - $ref: '#/components/schemas/CustomLabel0Filter'
      - $ref: '#/components/schemas/CustomLabel1Filter'
      - $ref: '#/components/schemas/CustomLabel2Filter'
      - $ref: '#/components/schemas/CustomLabel3Filter'
      - $ref: '#/components/schemas/CustomLabel4Filter'
      - $ref: '#/components/schemas/GoogleProductCategory6Filter'
      - $ref: '#/components/schemas/GoogleProductCategory5Filter'
      - $ref: '#/components/schemas/GoogleProductCategory4Filter'
      - $ref: '#/components/schemas/GoogleProductCategory3Filter'
      - $ref: '#/components/schemas/GoogleProductCategory2Filter'
      - $ref: '#/components/schemas/GoogleProductCategory1Filter'
      - $ref: '#/components/schemas/GoogleProductCategory0Filter'
      - $ref: '#/components/schemas/MediaTypeFilter'
    CatalogsRetailProductGroupUpdateRequest:
      type: object
      title: retail_product_groups_update_request
      additionalProperties: false
      description: Request object for updating a retail product group.
      properties:
        catalog_type:
          type: string
          enum:
          - RETAIL
          description: Retail catalog based product group is available only for selected partners at the moment. If you are not eligible, please use feed based one.
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFiltersRequest'
        country:
          $ref: '#/components/schemas/Country'
        locale:
          $ref: '#/components/schemas/CatalogsLocale'
    BoardOwner:
      title: Board owner
      type: object
      properties:
        username:
          type: string
          readOnly: true
    CatalogsCreativeAssetsProductGroup:
      type: object
      title: creative_assets_product_group
      properties:
        catalog_type:
          type: string
          enum:
          - CREATIVE_ASSETS
        id:
          description: ID of the creative assets product group.
          example: '443727193917'
          type: string
          pattern: ^\d+$
        name:
          description: Name of creative assets product group
          example: Most Popular
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilters'
        created_at:
          description: Unix timestamp in seconds of when catalog product group was created.
          example: 1621350033000
          type: integer
        updated_at:
          description: Unix timestamp in seconds of last time catalog product group was updated.
          example: 1622742155000
          type: integer
        catalog_id:
          description: Catalog id pertaining to the creative assets product group.
          type: string
          pattern: ^\d+$
      required:
      - id
      - filters
      - catalog_type
      - catalog_id
    PinMediaSourceImageURL:
      title: Image URL
      description: Image URL-based media source
      type: object
      properties:
        source_type:
          type: string
          enum:
          - image_url
        url:
          type: string
        is_standard:
          type: boolean
          description: Set the parameter to false to create the new simplified Pin instead of the standard pin. Currently the field is only available to a list of beta users.
          default: true
      required:
      - source_type
      - url
    CatalogsProductGroupCurrencyCriteria:
      title: catalogs_product_group_currency_criteria
      type: object
      description: A currency filter. This filter cannot be negated
      additionalProperties: false
      properties:
        values:
          $ref: '#/components/schemas/NonNullableCatalogsCurrency'
        negated:
          type: boolean
          default: false
          enum:
          - false
      required:
      - values
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    PinMedia:
      title: Pin media
      type: object
      description: Pin media objects.
      discriminator:
        propertyName: media_type
        mapping:
          image: '#/components/schemas/PinMediaWithImage'
          video: '#/components/schemas/PinMediaWithVideo'
          multiple_images: '#/components/schemas/PinMediaWithImages'
          multiple_videos: '#/components/schemas/PinMediaWithVideos'
          multiple_mixed: '#/components/schemas/PinMediaWithImageAndVideo'
      properties:
        media_type:
          type: string
    ProductGroupReferenceFilter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_GROUP:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - PRODUCT_GROUP
    Pin:
      title: Pin
      description: Pin
      type:
      - object
      - 'null'
      properties:
        id:
          type: string
          readOnly: true
          example: '813744226420795884'
          pattern: ^\d+$
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2020-01-01T20:10:40-00:00'
        link:
          type:
          - string
          - 'null'
          example: https://www.pinterest.com/
          maxLength: 2048
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        dominant_color:
          type:
          - string
          - 'null'
          description: Dominant pin color. Hex number, e.g. \"#6E7874\".
          example: '#6E7874'
        alt_text:
          type:
          - string
          - 'null'
          maxLength: 500
        creative_type:
          readOnly: true
          type:
          - string
          - 'null'
          allOf:
          - $ref: '#/components/schemas/CreativeType'
        board_id:
          description: The board to which this Pin belongs.
          type: string
          pattern: ^\d+$
        board_section_id:
          description: The board section to which this Pin belongs.
          type:
          - string
          - 'null'
          pattern: ^\d+$
        board_owner:
          allOf:
          - $ref: '#/components/schemas/BoardOwner'
          type: object
          readOnly: true
        is_owner:
          description: Whether the "operation user_account" is the Pin owner.
          type: boolean
          readOnly: true
        media:
          allOf:
          - $ref: '#/components/schemas/PinMedia'
          type: object
          readOnly: true
        media_source:
          allOf:
          - $ref: '#/components/schemas/PinMediaSource'
          type: object
          writeOnly: true
        parent_pin_id:
          description: The source pin id if this pin was saved from another pin. <a href="https://help.pinterest.com/article/save-pins-on-pinterest">Learn more</a>.
          type:
          - string
          - 'null'
          pattern: ^\d+$
        is_standard:
          description: Whether the Pin is standard or not. See documentation on <a href="https://developers.pinterest.com/docs/content/update/">Changes to Pin creation</a> for more information.
          type: boolean
        has_been_promoted:
          description: Whether the Pin has been promoted or not.
          type: boolean
          readOnly: true
        note:
          description: Private note for this Pin. <a href="https://help.pinterest.com/en/article/add-notes-to-your-pins">Learn more</a>.
          type:
          - string
          - 'null'
        pin_metrics:
          description: Pin metrics with associated time intervals if any.
          type:
          - object
          - 'null'
          example:
            pin_metrics:
            - 90d:
                pin_click: 7
                impression: 2
                clickthrough: 3
              all_time:
                pin_click: 7
                impression: 2
                clickthrough: 3
                reaction: 10
                comment: 2
            - null
    Gender:
      type: string
      enum:
      - FEMALE
      - MALE
      - UNISEX
    MaxPriceFilter:
      type: object
      additionalProperties: false
      properties:
        MAX_PRICE:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupPricingCriteria'
      required:
      - MAX_PRICE
    CatalogsProductGroupMultipleStringCriteria:
      title: catalogs_product_group_multiple_string_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            type: string
        negated:
          type: boolean
          default: false
      required:
      - values
    CatalogsHotelProductGroupFilterKeys:
      title: catalogs_product_group_keys
      anyOf:
      - $ref: '#/components/schemas/PriceFilter'
      - $ref: '#/components/schemas/HotelIdFilter'
      - $ref: '#/components/schemas/BrandFilter'
      - $ref: '#/components/schemas/CustomLabel0Filter'
      - $ref: '#/components/schemas/CustomLabel1Filter'
      - $ref: '#/components/schemas/CustomLabel2Filter'
      - $ref: '#/components/schemas/CustomLabel3Filter'
      - $ref: '#/components/schemas/CustomLabel4Filter'
      - $ref: '#/components/schemas/CountryFilter'
    CatalogsHotelProductGroupCreateRequest:
      type: object
      title: hotel_product_groups_create_request
      additionalProperties: false
      description: Request object for creating a hotel product group.
      properties:
        catalog_type:
          type: string
          enum:
          - HOTEL
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsHotelProductGroupFilters'
        catalog_id:
          description: Catalog id pertaining to the hotel product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
      required:
      - name
      - filters
      - catalog_id
      - catalog_type
    CatalogsProductGroupFilters:
      description: Object holding a group of filters for a catalog product group
      title: catalogs_product_group_filters
      type: object
      anyOf:
      - $ref: '#/components/schemas/CatalogsProductGroupFiltersAnyOf'
      - $ref: '#/components/schemas/CatalogsProductGroupFiltersAllOf'
    ConditionFilter:
      type: object
      additionalProperties: false
      properties:
        CONDITION:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CONDITION
    GoogleProductCategory2Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_2:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_2
    CatalogsProductGroupStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
    CatalogsRetailProductGroupCreateRequest:
      type: object
      title: retail_product_groups_create_request
      additionalProperties: false
      description: Request object for creating a product group.
      properties:
        catalog_type:
          type: string
          enum:
          - RETAIL
          description: Retail catalog based product group is available only for selected partners at the moment. If you are not eligible, please use feed based one.
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFiltersRequest'
        catalog_id:
          description: Catalog id pertaining to the retail product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
        country:
          $ref: '#/components/schemas/Country'
        locale:
          $ref: '#/components/schemas/CatalogsLocale'
      required:
      - name
      - filters
      - catalog_id
      - catalog_type
      - country
      - locale
    ItemGroupIdFilter:
      type: object
      additionalProperties: false
      properties:
        ITEM_GROUP_ID:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - ITEM_GROUP_ID
    CatalogsProduct:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/CatalogsProductMetadata'
        pin:
          $ref: '#/components/schemas/Pin'
      required:
      - metadata
      - pin
    CustomLabel1Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_1:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_1
    PinMediaSourceImagesURL:
      title: Images urls
      description: Multiple images urls-based media source
      additionalProperties: false
      properties:
        source_type:
          type: string
          enum:
          - multiple_image_urls
        items:
          items:
            additionalProperties: false
            properties:
              title:
                type: string
              description:
                type: string
              link:
                type: string
                description: Destination link for the image.
              url:
                description: URL of image to upload.
                type: string
            required:
            - url
            type: object
          minItems: 2
          maxItems: 5
          description: Array with image objects.
          type: array
        index:
          type: integer
          minimum: 0
      required:
      - items
      type: object
    CatalogsProductGroupMultipleStringListCriteria:
      title: catalogs_product_group_multiple_string_list_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            type: array
            items:
              type: string
        negated:
          type: boolean
          default: false
      required:
      - values
    CatalogsProductGroupPricingCriteria:
      title: catalogs_product_group_pricing_criteria
      type: object
      additionalProperties: false
      properties:
        inclusion:
          type: boolean
          default: true
        values:
          type: number
          minimum: 0
        negated:
          type: boolean
          default: false
      required:
      - values
    CustomLabel4Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_4:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_4
    ProductType2Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_2:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_2
    CountryFilter:
      type: object
      additionalProperties: false
      properties:
        COUNTRY:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleCountriesCriteria'
      required:
      - COUNTRY
    CatalogsProductGroupMultipleMediaTypesCriteria:
      title: catalogs_product_group_multiple_media_type_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/MediaType'
        negated:
          type: boolean
          default: false
      required:
      - values
    NonNullableProductAvailabilityType:
      description: Product availability.
      type: string
      enum:
      - IN_STOCK
      - OUT_OF_STOCK
      - PREORDER
    CatalogsProductMetadata:
      type: object
      description: Product metadata entity
      properties:
        item_id:
          description: The user-created unique ID that represents the product.
          example: DS0294-L
          type: string
        item_group_id:
          description: The parent ID of the product.
          example: DS0294
          type:
          - string
          - 'null'
        availability:
          $ref: '#/components/schemas/NonNullableProductAvailabilityType'
        price:
          description: The price of the product.
          example: 24.99
          type: number
        sale_price:
          description: The discounted price of the product.
          example: 14.99
          type:
          - number
          - 'null'
        currency:
          $ref: '#/components/schemas/NonNullableCatalogsCurrency'
      required:
      - item_id
      - item_group_id
      - availability
      - price
      - sale_price
      - currency
    PriceFilter:
      type: object
      additionalProperties: false
      properties:
        PRICE:
          type: object
          additionalProperties: false
          title: catalogs_product_group_pricing_currency_criteria
          properties:
            operator:
              type: string
              enum:
              - GREATER_THAN
              - GREATER_THAN_OR_EQUALS
              - LESS_THAN
              - LESS_THAN_OR_EQUALS
            value:
              type: number
              minimum: 0
            currency:
              $ref: '#/components/schemas/NonNullableCatalogsCurrency'
            negated:
              type: boolean
              default: false
          required:
          - value
          - operator
          - currency
      required:
      - PRICE
    CatalogsProductGroupType:
      type: string
      title: product_group_type
      description: '<p>Catalog product group type</p>

        <p>MERCHANT_CREATED: Product groups created by merchants.

        <br>ALL_PRODUCTS: Consists of every product in your latest successful feed upload.

        <br>BEST_DEALS: Consists of products with the deepest drop in price.

        <br>PINNER_FAVORITES: Consists of products that are resonating most with people on Pinterest, based on engagement.

        <br>TOP_SELLERS: Consists of products with the highest conversion rate, if you have the conversion tag installed.

        <br>BACK_IN_STOCK: Consists of products that were previously out of stock and are now in stock.

        <br>NEW_ARRIVALS: Consists of products that are new to your Catalog.

        <br>SHOPIFY_COLLECTION: Product groups created based on Shopify Product Collections.

        <br>I2PC: Product groups created based on predicted product category.</p>'
      enum:
      - MERCHANT_CREATED
      - ALL_PRODUCTS
      - BEST_DEALS
      - PINNER_FAVORITES
      - TOP_SELLERS
      - BACK_IN_STOCK
      - NEW_ARRIVALS
      - SHOPIFY_COLLECTIONS
      - I2PC
      example: TOP_SELLERS
    CustomLabel3Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_3:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_3
    CurrencyFilter:
      type: object
      additionalProperties: false
      properties:
        CURRENCY:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupCurrencyCriteria'
      required:
      - CURRENCY
    HotelIdFilter:
      type: object
      additionalProperties: false
      properties:
        HOTEL_ID:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - HOTEL_ID
    GoogleProductCategory1Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_1:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_1
    PinMediaSourceImagesBase64:
      title: Images Base64
      description: Multiple Base64-encoded images media source
      additionalProperties: false
      properties:
        source_type:
          type: string
          enum:
          - multiple_image_base64
        items:
          items:
            additionalProperties: false
            properties:
              title:
                type: string
              description:
                type: string
              link:
                type: string
                description: Destination link for the image.
              content_type:
                type: string
                enum:
                - image/jpeg
                - image/png
              data:
                type: string
                description: Image to upload as base64 string.
                pattern: '[a-zA-Z0-9+\/=]+'
            required:
            - data
            - content_type
            type: object
          minItems: 2
          maxItems: 5
          description: Array with image objects.
          type: array
        index:
          type: integer
          minimum: 0
      required:
      - items
      type: object
    CatalogsProductGroupFilterKeys:
      title: catalogs_product_group_keys
      anyOf:
      - $ref: '#/components/schemas/MinPriceFilter'
      - $ref: '#/components/schemas/MaxPriceFilter'
      - $ref: '#/components/schemas/CurrencyFilter'
      - $ref: '#/components/schemas/ItemIdFilter'
      - $ref: '#/components/schemas/AvailabilityFilter'
      - $ref: '#/components/schemas/BrandFilter'
      - $ref: '#/components/schemas/ConditionFilter'
      - $ref: '#/components/schemas/CustomLabel0Filter'
      - $ref: '#/components/schemas/CustomLabel1Filter'
      - $ref: '#/components/schemas/CustomLabel2Filter'
      - $ref: '#/components/schemas/CustomLabel3Filter'
      - $ref: '#/components/schemas/CustomLabel4Filter'
      - $ref: '#/components/schemas/ItemGroupIdFilter'
      - $ref: '#/components/schemas/GenderFilter'
      - $ref: '#/components/schemas/ProductType4Filter'
      - $ref: '#/components/schemas/ProductType3Filter'
      - $ref: '#/components/schemas/ProductType2Filter'
      - $ref: '#/components/schemas/ProductType1Filter'
      - $ref: '#/components/schemas/ProductType0Filter'
      - $ref: '#/components/schemas/GoogleProductCategory6Filter'
      - $ref: '#/components/schemas/GoogleProductCategory5Filter'
      - $ref: '#/components/schemas/GoogleProductCategory4Filter'
      - $ref: '#/components/schemas/GoogleProductCategory3Filter'
      - $ref: '#/components/schemas/GoogleProductCategory2Filter'
      - $ref: '#/components/schemas/GoogleProductCategory1Filter'
      - $ref: '#/components/schemas/GoogleProductCategory0Filter'
      - $ref: '#/components/schemas/ProductGroupReferenceFilter'
    MediaType:
      type: string
      enum:
      - IMAGE
      - VIDEO
    CatalogsProductGroupFiltersAnyOf:
      type: object
      additionalProperties: false
      properties:
        any_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsProductGroupFilterKeys'
      required:
      - any_of
    CatalogsCreativeAssetsProductGroupUpdateRequest:
      type: object
      title: creative_assets_product_groups_update_request
      additionalProperties: false
      description: Request object for updating a creative assets product group.
      properties:
        catalog_type:
          type: string
          enum:
          - CREATIVE_ASSETS
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilters'
    CreativeAssetsIdFilter:
      type: object
      additionalProperties: false
      properties:
        CREATIVE_ASSETS_ID:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CREATIVE_ASSETS_ID
    GenderFilter:
      type: object
      additionalProperties: false
      properties:
        GENDER:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleGenderCriteria'
      required:
      - GENDER
    GoogleProductCategory4Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_4:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_4
    CatalogsCreativeAssetsProductGroupCreateRequest:
      type: object
      title: creative_assets_product_groups_create_request
      additionalProperties: false
      description: Request object for creating a creative assets product group.
      properties:
        catalog_type:
          type: string
          enum:
          - CREATIVE_ASSETS
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilters'
        catalog_id:
          description: Catalog id pertaining to the creative assets product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
      required:
      - name
      - filters
      - catalog_id
      - catalog_type
    CatalogsVerticalProductGroupUpdateRequest:
      type: object
      title: catalog based
      description: Request object for updating a catalog based product group.
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailProductGroupUpdateRequest'
      - $ref: '#/components/schemas/CatalogsHotelProductGroupUpdateRequest'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupUpdateRequest'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailProductGroupUpdateRequest'
          HOTEL: '#/components/schemas/CatalogsHotelProductGroupUpdateRequest'
          CREATIVE_ASSETS: '#/components/schemas/CatalogsCreativeAssetsProductGroupUpdateRequest'
    CatalogsProductGroupUpdateRequest:
      type: object
      title: retail feed based
      additionalProperties: false
      description: Request object for updating a product group.
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        is_featured:
          description: boolean indicator of whether the product group is being featured or not
          type: boolean
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFiltersRequest'
    CustomLabel2Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_2:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_2
    CustomLabel0Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_0:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_0
    CatalogsHotelProductGroupUpdateRequest:
      type: object
      title: hotel_product_groups_update_request
      additionalProperties: false
      description: Request object for updating a hotel product group.
      properties:
        catalog_type:
          type: string
          enum:
          - HOTEL
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        filters:
          $ref: '#/components/schemas/CatalogsHotelProductGroupFilters'
    PinMediaSourcePinURL:
      title: Pin URL
      description: Pin URL-based media source for product pin creation. Currently the field is only available to a list of beta users.
      type: object
      properties:
        source_type:
          type: string
          enum:
          - pin_url
        is_affiliate_link:
          type: boolean
          description: This is an affiliate link or sponsored product. The FTC requires disclosure for paid partnerships and affiliate products.
          default: false
      required:
      - source_type
    Country:
      type: string
      description: Country ID from ISO 3166-1 alpha-2.
      example: US
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    GoogleProductCategory6Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_6:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_6
    CatalogsLocale:
      type: string
      enum:
      - af-ZA
      - ar-SA
      - bg-BG
      - bn-IN
      - cs-CZ
      - da-DK
      - de
      - el-GR
      - en-AU
      - en-CA
      - en-GB
      - en-IN
      - en-US
      - es-419
      - es-AR
      - es-ES
      - es-MX
      - fi-FI
      - fr
      - fr-CA
      - he-IL
      - hi-IN
      - hr-HR
      - hu-HU
      - id-ID
      - it
      - ja
      - ko-KR
      - ms-MY
      - nb-NO
      - nl
      - pl-PL
      - pt-BR
      - pt-PT
      - ro-RO
      - ru-RU
      - sk-SK
      - sv-SE
      - te-IN
      - th-TH
      - tl-PH
      - tr
      - uk-UA
      - vi-VN
      - zh-CN
      - zh-TW
    Paginated:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        bookmark:
          type:
          - string
          - 'null'
      required:
      - items
    ProductType1Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_1:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_1
    CatalogsVerticalProductGroupCreateRequest:
      type: object
      title: catalog based
      description: Request object for creating a catalog based product group.
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailProductGroupCreateRequest'
      - $ref: '#/components/schemas/CatalogsHotelProductGroupCreateRequest'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupCreateRequest'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailProductGroupCreateRequest'
          HOTEL: '#/components/schemas/CatalogsHotelProductGroupCreateRequest'
          CREATIVE_ASSETS: '#/components/schemas/CatalogsCreativeAssetsProductGroupCreateRequest'
    CatalogsCreativeAssetsProductGroupFiltersAllOf:
      type: object
      additionalProperties: false
      properties:
        all_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilterKeys'
      required:
      - all_of
    CatalogsCreativeAssetsProductGroupFiltersAnyOf:
      type: object
      additionalProperties: false
      properties:
        any_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilterKeys'
      required:
      - any_of
    PinMediaSource:
      title: Pin media source
      description: Pin media source.
      oneOf:
      - $ref: '#/components/schemas/PinMediaSourceImageBase64'
      - $ref: '#/components/schemas/PinMediaSourceImageURL'
      - $ref: '#/components/schemas/PinMediaSourceVideoID'
      - $ref: '#/components/schemas/PinMediaSourceImagesBase64'
      - $ref: '#/components/schemas/PinMediaSourceImagesURL'
      - $ref: '#/components/schemas/PinMediaSourcePinURL'
      discriminator:
        propertyName: source_type
        mapping:
          multiple_image_base64: '#/components/schemas/PinMediaSourceImagesBase64'
          image_base64: '#/components/schemas/PinMediaSourceImageBase64'
          multiple_image_urls: '#/components/schemas/PinMediaSourceImagesURL'
          image_url: '#/components/schemas/PinMediaSourceImageURL'
          video_id: '#/components/schemas/PinMediaSourceVideoID'
          pin_url: '#/components/schemas/PinMediaSourcePinURL'
  parameters:
    query_catalogs_product_group_ids:
      name: id
      in: query
      style: form
      explode: false
      description: Comma-separated list of product group ids
      required: false
      schema:
        type: array
        items:
          type: integer
        minItems: 1
        maxItems: 1000
    query_catalogs_product_group_ids_required:
      name: id
      in: query
      style: form
      explode: false
      description: Comma-separated list of product group ids
      required: true
      schema:
        type: array
        items:
          type: integer
        minItems: 1
        maxItems: 1000
    query_catalogs_feed_id:
      description: Filter entities for a given feed_id. If not given, all feeds are considered.
      in: query
      required: false
      name: feed_id
      schema:
        type: string
        pattern: ^\d+$
    query_bookmark:
      name: bookmark
      description: Cursor used to fetch the next page of items
      in: query
      required: false
      schema:
        type: string
    query_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: query
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    path_catalogs_product_group_id:
      description: Unique identifier of a product group
      in: path
      required: true
      name: product_group_id
      schema:
        type: string
        pattern: ^\d+$
    query_catalogs_catalog_id:
      description: Filter entities for a given catalog_id. If not given, all catalogs are considered.
      in: query
      required: false
      name: catalog_id
      schema:
        type: string
        pattern: ^\d+$
    query_page_size:
      name: page_size
      description: Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 25
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
[...]
