openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Feed API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Feed
paths:
  /catalogs/feeds/{feed_id}:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get feed
      description: 'Get a single feed owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        For Retail partners, refer to <a href=''https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs''>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href=''/docs/shopping/catalog/''>Pinterest API for shopping</a>.'
      operationId: feeds/get
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Feed
    patch:
      x-ratelimit-category: catalogs_write
      summary: Update feed
      description: 'Update a feed owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        For Retail partners, refer to <a href=''https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs''>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href=''/docs/shopping/catalog/''>Pinterest API for shopping</a>.


        Note: The catalog type of Creative Assets is only allowed in the <a href=''https://api-sandbox.pinterest.com/v5''>Pinterest API Sandbox</a>.

        If access is required, please contact your partner manager.'
      operationId: feeds/update
      security:
      - pinterest_oauth2:
        - catalogs:read
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object used to update a feed.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CatalogsVerticalFeedsUpdateRequest'
              - $ref: '#/components/schemas/CatalogsFeedsUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsFeed'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: 'Invalid request: ...'
        '403':
          description: Forbidden. Account not approved for feed mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Feed
    delete:
      x-ratelimit-category: catalogs_write
      summary: Delete feed
      description: 'Delete a feed owned by the "operating user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        For Retail partners, refer to <a href=''https://help.pinterest.com/en/business/article/before-you-get-started-with-catalogs''>Before you get started with Catalogs</a>. For Hotel parterns, refer to <a href=''/docs/shopping/catalog/''>Pinterest API for shopping</a>.'
      operationId: feeds/delete
      security:
      - pinterest_oauth2:
        - catalogs:read
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '204':
          description: Feed deleted successfully.
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '403':
          description: Forbidden. Account not approved for feed mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        '409':
          description: Conflict. Can't delete a feed with active promotions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedHasActivePromotions:
                  value:
                    code: 4162
                    message: We can't disable a Product Group with active promotions.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Feed
  /catalogs/feeds/{feed_id}/ingest:
    post:
      x-ratelimit-category: catalogs_write
      summary: Ingest items for a given feed
      description: 'Ingest items for a given feed owned by the "operation user_account".


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>


        Note: This endpoint is only allowed in the Pinterest API Sandbox (https://api-sandbox.pinterest.com/v5).

        Go to https://developers.pinterest.com/docs/dev-tools/sandbox/ for more information.'
      operationId: feeds/ingest
      security:
      - pinterest_oauth2:
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '204':
          description: The ingestion process was successfully started.
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '403':
          description: Forbidden. Account not approved for feed mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Feed
  /catalogs/feeds/{feed_id}/processing_results:
    get:
      x-ratelimit-category: catalogs_read
      summary: List processing results for a given feed
      description: 'Fetch a feed processing results owned by the "operation user_account". Please note that for now the bookmark parameter is not functional and only the first page will be available until it is implemented in some release in the near future.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: feed_processing_results/list
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_feed_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogsFeedProcessingResult'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: Parameter 'page_size' was not numeric (was 3e)"
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '404':
          description: Feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Feed
components:
  parameters:
    path_catalogs_feed_id:
      description: Unique identifier of a feed
      in: path
      required: true
      name: feed_id
      schema:
        type: string
        pattern: ^\d+$
    query_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: query
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    query_page_size:
      name: page_size
      description: Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 25
    query_bookmark:
      name: bookmark
      description: Cursor used to fetch the next page of items
      in: query
      required: false
      schema:
        type: string
  schemas:
    CatalogsFeedIngestionDetails:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/CatalogsFeedIngestionErrors'
        info:
          $ref: '#/components/schemas/CatalogsFeedIngestionInfo'
        warnings:
          $ref: '#/components/schemas/CatalogsFeedIngestionWarnings'
      required:
      - errors
      - info
      - warnings
    CatalogsFeedIngestionErrors:
      type: object
      properties:
        LINE_LEVEL_INTERNAL_ERROR:
          type: integer
          description: We experienced a technical difficulty and were unable to ingest this some items. The next ingestion will happen in 24 hours.
        LARGE_PRODUCT_COUNT_DECREASE:
          type: integer
          enum:
          - 1
          description: The product count has decreased by more than 99% compared to the last successful ingestion.
        ACCOUNT_FLAGGED:
          type: integer
          description: We detected an issue with your account and are not currently ingesting your items. Please review our policies at policy.pinterest.com/community-guidelines#section-spam or contact us at help.pinterest.com/contact for more information.
        IMAGE_LEVEL_INTERNAL_ERROR:
          type: integer
          description: We experienced a technical difficulty and were unable to download some images. The next download attempt will happen in 24 hours.
        IMAGE_FILE_NOT_ACCESSIBLE:
          type: integer
          description: Image files are unreadable. Please upload new files to continue.
        IMAGE_MALFORMED_URL:
          type: integer
          description: Image files are unreadable. Please check your link and upload new files to continue.
        IMAGE_FILE_NOT_FOUND:
          type: integer
          description: Image files are unreadable. Please upload new files to continue.
        IMAGE_INVALID_FILE:
          type: integer
          description: Image files are unreadable. Please upload new files to continue.
    CatalogsFeed:
      type: object
      title: catalogs_feed
      description: Catalogs Feed object
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailFeed'
      - $ref: '#/components/schemas/CatalogsHotelFeed'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsFeed'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailFeed'
          HOTEL: '#/components/schemas/CatalogsHotelFeed'
          CREATIVE_ASSETS: '#/components/schemas/CatalogsCreativeAssetsFeed'
    CatalogsFeedValidationWarnings:
      type: object
      properties:
        AD_LINK_FORMAT_WARNING:
          type: integer
          description: Some items have ad links that are formatted incorrectly.
        AD_LINK_SAME_AS_LINK:
          type: integer
          description: Some items have ad link URLs that are duplicates of the link URLs for those items.
        TITLE_LENGTH_TOO_LONG:
          type: integer
          description: The title for some items were truncated because they contain too many characters.
        DESCRIPTION_LENGTH_TOO_LONG:
          type: integer
          description: The description for some items were truncated because they contain too many characters.
        GENDER_INVALID:
          type: integer
          description: Some items have gender values that are formatted incorrectly, which may limit visibility in recommendations, search results and shopping experiences.
        AGE_GROUP_INVALID:
          type: integer
          description: Some items have age group values that are formatted incorrectly, which may limit visibility in recommendations, search results and shopping experiences.
        SIZE_TYPE_INVALID:
          type: integer
          description: Some items have size type values that are formatted incorrectly, which may limit visibility in recommendations, search results and shopping experiences.
        SIZE_SYSTEM_INVALID:
          type: integer
          description: Some items have size system values which are not one of the supported size systems.
        LINK_FORMAT_WARNING:
          type: integer
          description: Some items have an invalid product link which contains invalid UTM tracking paramaters.
        SALES_PRICE_INVALID:
          type: integer
          description: Some items have sale price values that are higher than the original price of the item.
        PRODUCT_CATEGORY_DEPTH_WARNING:
          type: integer
          description: Some items only have 1 or 2 levels of google_product_category values, which may limit visibility in recommendations, search results and shopping experiences.
        ADWORDS_FORMAT_WARNING:
          type: integer
          description: Some items have adwords_redirect links that are formatted incorrectly.
        ADWORDS_SAME_AS_LINK:
          type: integer
          description: Some items have adwords_redirect URLs that are duplicates of the link URLs for those items.
        DUPLICATE_HEADERS:
          type: integer
          description: Your feed contains duplicate headers.
        FETCH_SAME_SIGNATURE:
          type: integer
          description: Ingestion completed early because there are no changes to your feed since the last successful update.
          enum:
          - 1
        ADDITIONAL_IMAGE_LINK_LENGTH_TOO_LONG:
          type: integer
          description: Some items have additional_image_link URLs that contain too many characters, so those items will not be published.
        ADDITIONAL_IMAGE_LINK_WARNING:
          type: integer
          description: Some items have additional_image_link URLs that are formatted incorrectly and will not be published with your items.
        IMAGE_LINK_WARNING:
          type: integer
          description: Some items have image_link URLs that are formatted incorrectly and will not be published with those items.
        SHIPPING_INVALID:
          type: integer
          description: Some items have shipping values that are formatted incorrectly.
        TAX_INVALID:
          type: integer
          description: Some items have tax values that are formatted incorrectly.
        SHIPPING_WEIGHT_INVALID:
          type: integer
          description: Some items have invalid shipping_weight values.
        EXPIRATION_DATE_INVALID:
          type: integer
          description: Some items have expiration_date values that are formatted incorrectly, those items will be published without an expiration date.
        AVAILABILITY_DATE_INVALID:
          type: integer
          description: Some items have availability_date values that are formatted incorrectly, those items will be published without an availability date.
        SALE_DATE_INVALID:
          type: integer
          description: Some items have sale_price_effective_date values that are formatted incorrectly, those items will be published without a sale date.
        WEIGHT_UNIT_INVALID:
          type: integer
          description: Some items have weight_unit values that are formatted incorrectly, those items will be published without a weight unit.
        IS_BUNDLE_INVALID:
          type: integer
          description: Some items have is_bundle values that are formatted incorrectly, those items will be published without being bundled with other products.
        UPDATED_TIME_INVALID:
          type: integer
          description: Some items have updated_time values thate are formatted incorrectly, those items will be published without an updated time.
        CUSTOM_LABEL_LENGTH_TOO_LONG:
          type: integer
          description: Some items have custom_label values that are too long, those items will be published without that custom label.
        PRODUCT_TYPE_LENGTH_TOO_LONG:
          type: integer
          description: Some items have product_type values that are too long, those items will be published without that product type.
        TOO_MANY_ADDITIONAL_IMAGE_LINKS:
          type: integer
          description: Some items have additional_image_link values that exceed the limit for additional images, those items will be published without some of your images.
        MULTIPACK_INVALID:
          type: integer
          description: Some items have invalid multipack values.
        INDEXED_PRODUCT_COUNT_LARGE_DELTA:
          type: integer
          description: The product count has increased or decreased significantly compared to the last successful ingestion.
        ITEM_ADDITIONAL_IMAGE_DOWNLOAD_FAILURE:
          type: integer
          description: Some items include additional_image_links that can't be found.
        OPTIONAL_PRODUCT_CATEGORY_MISSING:
          type: integer
          description: Some items are missing a google_product_category.
        OPTIONAL_PRODUCT_CATEGORY_INVALID:
          type: integer
          description: Some items include google_product_category values that are not formatted correctly according to the GPC taxonomy.
        OPTIONAL_CONDITION_MISSING:
          type: integer
          description: Some items are missing a condition value, which may limit visibility in recommendations, search results and shopping experiences.
        OPTIONAL_CONDITION_INVALID:
          type: integer
          description: Some items include condition values that are formatted incorrectly, which may limit visibility in recommendations, search results and shopping experiences.
        IOS_DEEP_LINK_INVALID:
          type: integer
          description: Some items include invalid ios_deep_link values.
        ANDROID_DEEP_LINK_INVALID:
          type: integer
          description: Some items include invalid android_deep_link.
        UTM_SOURCE_AUTO_CORRECTED:
          type: integer
          description: Some items include utm_source values that are formatted incorrectly and have been automatically corrected.
        COUNTRY_DOES_NOT_MAP_TO_CURRENCY:
          type: integer
          description: Some items include a currency that doesn't match the usual currency for the location where that product is sold or shipped.
        MIN_AD_PRICE_INVALID:
          type: integer
          description: Some items include min_ad_price values that are formatted incorrectly.
        GTIN_INVALID:
          type: integer
          description: Some items include incorrectly formatted GTINs.
        INCONSISTENT_CURRENCY_VALUES:
          type: integer
          description: Some items include inconsistent currencies in price fields.
        SALES_PRICE_TOO_LOW:
          type: integer
          description: Some items include sales price that is much lower than the list price.
        SHIPPING_WIDTH_INVALID:
          type: integer
          description: Some items include incorrectly formatted shipping_width.
        SHIPPING_HEIGHT_INVALID:
          type: integer
          description: Some items include incorrectly formatted shipping_height.
        SALES_PRICE_TOO_HIGH:
          type: integer
          description: Some items include a sales price that is higher than the list price. The sales price has been defaulted to the list price.
        MPN_INVALID:
          type: integer
          description: Some items include incorrectly formatted MPNs.
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    CatalogsFeedProcessingResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/CatalogsDbItem'
      - type: object
        title: catalogs_feed_processing_result_fields
        properties:
          ingestion_details:
            $ref: '#/components/schemas/CatalogsFeedIngestionDetails'
          status:
            $ref: '#/components/schemas/CatalogsFeedProcessingStatus'
          product_counts:
            $ref: '#/components/schemas/CatalogsFeedProductCounts'
          validation_details:
            $ref: '#/components/schemas/CatalogsFeedValidationDetails'
        required:
        - ingestion_details
        - status
        - product_counts
        - validation_details
    CatalogsFeedsUpdateRequest:
      type: object
      title: legacy_retail_only
      description: Request object for updating a feed.
      additionalProperties: false
      properties:
        default_availability:
          $ref: '#/components/schemas/ProductAvailabilityType'
        default_currency:
          $ref: '#/components/schemas/NullableCurrency'
        name:
          description: A human-friendly name associated to a given feed.
          type: string
        format:
          $ref: '#/components/schemas/CatalogsFormat'
        credentials:
          $ref: '#/components/schemas/CatalogsFeedCredentials'
        location:
          type: string
          pattern: ^(http|https|ftp|sftp)://
          description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
        preferred_processing_schedule:
          $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
        status:
          $ref: '#/components/schemas/CatalogsStatus'
    CatalogsCreativeAssetsFeedsUpdateRequest:
      type: object
      title: catalogs_feeds_update_request
      description: Request object for updating a feed.
      additionalProperties: false
      properties:
        default_currency:
          $ref: '#/components/schemas/NullableCurrency'
        name:
          description: A human-friendly name associated to a given feed.
          type: string
        format:
          $ref: '#/components/schemas/CatalogsFormat'
        credentials:
          $ref: '#/components/schemas/CatalogsFeedCredentials'
        location:
          type: string
          pattern: ^(http|https|ftp|sftp)://
          description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
        preferred_processing_schedule:
          $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
        status:
          $ref: '#/components/schemas/CatalogsStatus'
        catalog_type:
          $ref: '#/components/schemas/CatalogsType'
      required:
      - catalog_type
    CatalogsFeedProcessingStatus:
      type: string
      enum:
      - COMPLETED
      - COMPLETED_EARLY
      - DISAPPROVED
      - FAILED
      - PROCESSING
      - QUEUED_FOR_PROCESSING
      - UNDER_APPEAL
      - UNDER_REVIEW
    CatalogsVerticalFeedsUpdateRequest:
      type: object
      title: feeds_update_request
      description: Request object for updating a feed.
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailFeedsUpdateRequest'
      - $ref: '#/components/schemas/CatalogsHotelFeedsUpdateRequest'
      - $ref: '#/components/schemas/CatalogsCreativeAssetsFeedsUpdateRequest'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailFeedsUpdateRequest'
          HOTEL: '#/components/schemas/CatalogsHotelFeedsUpdateRequest'
          CREATIVE_ASSETS: '#/components/schemas/CatalogsCreativeAssetsFeedsUpdateRequest'
    CatalogsDbItem:
      type: object
      title: db_item
      properties:
        created_at:
          type: string
          format: date-time
          example: '2022-03-14T15:15:22Z'
        id:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2022-03-14T15:16:34Z'
    CatalogsFeedIngestionInfo:
      type: object
      properties:
        IN_STOCK:
          type: integer
          description: The number of ingested products that are in stock.
        OUT_OF_STOCK:
          type: integer
          description: The number of ingested products that are in out of stock.
        PREORDER:
          type: integer
          description: The number of ingested products that are in preorder.
    CatalogsFeedProcessingSchedule:
      type: object
      title: catalogs_processing_schedule
      description: Daily processing schedule. This field is **OPTIONAL**. Use this to configure the preferred time for processing a feed (otherwise random).
      nullable: true
      properties:
        time:
          description: A time in format HH:MM with leading 0 (zero)
          type: string
          pattern: ^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$
          example: 02:59
        timezone:
          description: The timezone considered for the processing schedule time.
          type: string
          nullable: true
          enum:
          - Africa/Abidjan
          - Africa/Accra
          - Africa/Algiers
          - Africa/Bissau
          - Africa/Cairo
          - Africa/Casablanca
          - Africa/Ceuta
          - Africa/El_Aaiun
          - Africa/Johannesburg
          - Africa/Juba
          - Africa/Khartoum
          - Africa/Lagos
          - Africa/Maputo
          - Africa/Monrovia
          - Africa/Nairobi
          - Africa/Ndjamena
          - Africa/Sao_Tome
          - Africa/Tripoli
          - Africa/Tunis
          - Africa/Windhoek
          - America/Adak
          - America/Anchorage
          - America/Araguaina
          - America/Argentina/Buenos_Aires
          - America/Argentina/Catamarca
          - America/Argentina/Cordoba
          - America/Argentina/Jujuy
          - America/Argentina/La_Rioja
          - America/Argentina/Mendoza
          - America/Argentina/Rio_Gallegos
          - America/Argentina/Salta
          - America/Argentina/San_Juan
          - America/Argentina/San_Luis
          - America/Argentina/Tucuman
          - America/Argentina/Ushuaia
          - America/Asuncion
          - America/Atikokan
          - America/Bahia
          - America/Bahia_Banderas
          - America/Barbados
          - America/Belem
          - America/Belize
          - America/Blanc-Sablon
          - America/Boa_Vista
          - America/Bogota
          - America/Boise
          - America/Cambridge_Bay
          - America/Campo_Grande
          - America/Cancun
          - America/Caracas
          - America/Cayenne
          - America/Chicago
          - America/Chihuahua
          - America/Costa_Rica
          - America/Creston
          - America/Cuiaba
          - America/Curacao
          - America/Danmarkshavn
          - America/Dawson
          - America/Dawson_Creek
          - America/Denver
          - America/Detroit
          - America/Edmonton
          - America/Eirunepe
          - America/El_Salvador
          - America/Fort_Nelson
          - America/Fortaleza
          - America/Glace_Bay
          - America/Goose_Bay
          - America/Grand_Turk
          - America/Guatemala
          - America/Guayaquil
          - America/Guyana
          - America/Halifax
          - America/Havana
          - America/Hermosillo
          - America/Indiana/Indianapolis
          - America/Indiana/Knox
          - America/Indiana/Marengo
          - America/Indiana/Petersburg
          - America/Indiana/Tell_City
          - America/Indiana/Vevay
          - America/Indiana/Vincennes
          - America/Indiana/Winamac
          - America/Inuvik
          - America/Iqaluit
          - America/Jamaica
          - America/Juneau
          - America/Kentucky/Louisville
          - America/Kentucky/Monticello
          - America/La_Paz
          - America/Lima
          - America/Los_Angeles
          - America/Maceio
          - America/Managua
          - America/Manaus
          - America/Martinique
          - America/Matamoros
          - America/Mazatlan
          - America/Menominee
          - America/Merida
          - America/Metlakatla
          - America/Mexico_City
          - America/Miquelon
          - America/Moncton
          - America/Monterrey
          - America/Montevideo
          - America/Nassau
          - America/New_York
          - America/Nipigon
          - America/Nome
          - America/Noronha
          - America/North_Dakota/Beulah
          - America/North_Dakota/Center
          - America/North_Dakota/New_Salem
          - America/Nuuk
          - America/Ojinaga
          - America/Panama
          - America/Pangnirtung
          - America/Paramaribo
          - America/Phoenix
          - America/Port-au-Prince
          - America/Port_of_Spain
          - America/Porto_Velho
          - America/Puerto_Rico
          - America/Punta_Arenas
          - America/Rainy_River
          - America/Rankin_Inlet
          - America/Recife
          - America/Regina
          - America/Resolute
          - America/Rio_Branco
          - America/Santarem
          - America/Santiago
          - America/Santo_Domingo
          - America/Sao_Paulo
          - America/Scoresbysund
          - America/Sitka
          - America/St_Johns
          - America/Swift_Current
          - America/Tegucigalpa
          - America/Thule
          - America/Thunder_Bay
          - America/Tijuana
          - America/Toronto
          - America/Vancouver
          - America/Whitehorse
          - America/Winnipeg
          - America/Yakutat
          - America/Yellowknife
          - Antarctica/Casey
          - Antarctica/Davis
          - Antarctica/DumontDUrville
          - Antarctica/Macquarie
          - Antarctica/Mawson
          - Antarctica/Palmer
          - Antarctica/Rothera
          - Antarctica/Syowa
          - Antarctica/Troll
          - Antarctica/Vostok
          - Asia/Almaty
          - Asia/Amman
          - Asia/Anadyr
          - Asia/Aqtau
          - Asia/Aqtobe
          - Asia/Ashgabat
          - Asia/Atyrau
          - Asia/Baghdad
          - Asia/Baku
          - Asia/Bangkok
          - Asia/Barnaul
          - Asia/Beirut
          - Asia/Bishkek
          - Asia/Brunei
          - Asia/Chita
          - Asia/Choibalsan
          - Asia/Colombo
          - Asia/Damascus
          - Asia/Dhaka
          - Asia/Dili
          - Asia/Dubai
          - Asia/Dushanbe
          - Asia/Famagusta
          - Asia/Gaza
          - Asia/Hebron
          - Asia/Ho_Chi_Minh
          - Asia/Hong_Kong
          - Asia/Hovd
          - Asia/Irkutsk
          - Asia/Jakarta
          - Asia/Jayapura
          - Asia/Jerusalem
          - Asia/Kabul
          - Asia/Kamchatka
          - Asia/Karachi
          - Asia/Kathmandu
          - Asia/Khandyga
          - Asia/Kolkata
          - Asia/Krasnoyarsk
          - Asia/Kuala_Lumpur
          - Asia/Kuching
          - Asia/Macau
          - Asia/Magadan
          - Asia/Makassar
          - Asia/Manila
          - Asia/Nicosia
          - Asia/Novokuznetsk
          - Asia/Novosibirsk
          - Asia/Omsk
          - Asia/Oral
          - Asia/Pontianak
          - Asia/Pyongyang
          - Asia/Qatar
          - Asia/Qostanay
          - Asia/Qyzylorda
          - Asia/Riyadh
          - Asia/Sakhalin
          - Asia/Samarkand
          - Asia/Seoul
          - Asia/Shanghai
          - Asia/Singapore
          - Asia/Srednekolymsk
          - Asia/Taipei
          - Asia/Tashkent
          - Asia/Tbilisi
          - Asia/Tehran
          - Asia/Thimphu
          - Asia/Tokyo
          - Asia/Tomsk
          - Asia/Ulaanbaatar
          - Asia/Urumqi
          - Asia/Ust-Nera
          - Asia/Vladivostok
          - Asia/Yakutsk
          - Asia/Yangon
          - Asia/Yekaterinburg
          - Asia/Yerevan
          - Atlantic/Azores
          - Atlantic/Bermuda
          - Atlantic/Canary
          - Atlantic/Cape_Verde
          - Atlantic/Faroe
          - Atlantic/Madeira
          - Atlantic/Reykjavik
          - Atlantic/South_Georgia
          - Atlantic/Stanley
          - Australia/Adelaide
          - Australia/Brisbane
          - Australia/Broken_Hill
          - Australia/Currie
          - Australia/Darwin
          - Australia/Eucla
          - Australia/Hobart
          - Australia/Lindeman
          - Australia/Lord_Howe
          - Australia/Melbourne
          - Australia/Perth
          - Australia/Sydney
          - CET
          - CST6CDT
          - EET
          - EST
          - EST5EDT
          - Etc/GMT
          - Etc/GMT+1
          - Etc/GMT+10
          - Etc/GMT+11
          - Etc/GMT+12
          - Etc/GMT+2
          - Etc/GMT+3
          - Etc/GMT+4
          - Etc/GMT+5
          - Etc/GMT+6
          - Etc/GMT+7
          - Etc/GMT+8
          - Etc/GMT+9
          - Etc/GMT-1
          - Etc/GMT-10
          - Etc/GMT-11
          - Etc/GMT-12
          - Etc/GMT-13
          - Etc/GMT-14
          - Etc/GMT-2
          - Etc/GMT-3
          - Etc/GMT-4
          - Etc/GMT-5
          - Etc/GMT-6
          - Etc/GMT-7
          - Etc/GMT-8
          - Etc/GMT-9
          - Etc/UTC
          - Europe/Amsterdam
          - Europe/Andorra
          - Europe/Astrakhan
          - Europe/Athens
          - Europe/Belgrade
          - Europe/Berlin
          - Europe/Brussels
          - Europe/Bucharest
          - Europe/Budapest
          - Europe/Chisinau
          - Europe/Copenhagen
          - Europe/Dublin
          - Europe/Gibraltar
          - Europe/Helsinki
          - Europe/Istanbul
          - Europe/Kaliningrad
          - Europe/Kiev
          - Europe/Kirov
          - Europe/Lisbon
          - Europe/London
          - Europe/Luxembourg
          - Europe/Madrid
          - Europe/Malta
          - Europe/Minsk
          - Europe/Monaco
          - Europe/Moscow
          - Europe/Oslo
          - Europe/Paris
          - Europe/Prague
          - Europe/Riga
          - Europe/Rome
          - Europe/Samara
          - Europe/Saratov
          - Europe/Simferopol
          - Europe/Sofia
          - Europe/Stockholm
          - Europe/Tallinn
          - Europe/Tirane
          - Europe/Ulyanovsk
          - Europe/Uzhgorod
          - Europe/Vienna
          - Europe/Vilnius
          - Europe/Volgograd
          - Europe/Warsaw
          - Europe/Zaporozhye
          - Europe/Zurich
          - HST
          - Indian/Chagos
          - Indian/Christmas
          - Indian/Cocos
          - Indian/Kerguelen
          - Indian/Mahe
          - Indian/Maldives
          - Indian/Mauritius
          - Indian/Reunion
          - MET
          - MST
          - MST7MDT
          - PST8PDT
          - Pacific/Apia
          - Pacific/Auckland
          - Pacific/Bougainville
          - Pacific/Chatham
          - Pacific/Chuuk
          - Pacific/Easter
          - Pacific/Efate
          - Pacific/Enderbury
          - Pacific/Fakaofo
          - Pacific/Fiji
          - Pacific/Funafuti
          - Pacific/Galapagos
          - Pacific/Gambier
          - Pacific/Guadalcanal
          - Pacific/Guam
          - Pacific/Honolulu
          - Pacific/Kiritimati
          - Pacific/Kosrae
          - Pacific/Kwajalein
          - Pacific/Majuro
          - Pacific/Marquesas
          - Pacific/Nauru
          - Pacific/Niue
          - Pacific/Norfolk
          - Pacific/Noumea
          - Pacific/Pago_Pago
          - Pacific/Palau
          - Pacific/Pitcairn
          - Pacific/Pohnpei
          - Pacific/Port_Moresby
          - Pacific/Rarotonga
          - Pacific/Tahiti
          - Pacific/Tarawa
          - Pacific/Tongatapu
          - Pacific/Wake
          - Pacific/Wallis
          - WET
          - null
      required:
      - time
      - timezone
    CatalogsCreativeAssetsFeed:
      type: object
      title: catalogs_creative_assets_feed
      description: Catalogs Creative Asset Feed object
      allOf:
      - $ref: '#/components/schemas/CatalogsDbItem'
      - type: object
        title: feed_fields
        properties:
          name:
            description: A human-friendly name associated to a given feed. This value is currently nullable due to historical reasons. It is expected to become non-nullable in the future.
            nullable: true
            type: string
          format:
            $ref: '#/components/schemas/CatalogsFormat'
          catalog_type:
            $ref: '#/components/schemas/CatalogsType'
          credentials:
            $ref: '#/components/schemas/CatalogsFeedCredentials'
          location:
            description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
            type: string
          preferred_processing_schedule:
            $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
          status:
            $ref: '#/components/schemas/CatalogsStatus'
          default_currency:
            $ref: '#/components/schemas/NullableCurrency'
          default_locale:
            description: The locale used within a feed for product descriptions.
            example: en-US
            type: string
          default_country:
            $ref: '#/components/schemas/Country'
          catalog_id:
            description: Catalog id pertaining to the feed. If not provided, feed will use a default catalog based on type.
            nullable: true
            type: string
            pattern: ^\d+$
        required:
        - credentials
        - format
        - location
        - name
        - preferred_processing_schedule
        - status
        - catalog_type
        - default_locale
        - default_currency
        - default_country
        - catalog_id
    NullableCurrency:
      type: string
      description: Currency Codes from ISO 4217.
      example: USD
      nullable: true
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BYR
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SPL
      - SRD
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XDR
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWD
      - null
    Paginated:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        bookmark:
          type: string
          nullable: true
      required:
      - items
    CatalogsHotelFeedsUpdateRequest:
      type: object
      title: catalogs_feeds_update_request
      description: Request object for updating a feed.
      additionalProperties: false
      properties:
        default_currency:
          $ref: '#/components/schemas/NullableCurrency'
        name:
          description: A human-friendly name associated to a given feed.
          type: string
        format:
          $ref: '#/components/schemas/CatalogsFormat'
        credentials:
          $ref: '#/components/schemas/CatalogsFeedCredentials'
        location:
          type: string
          pattern: ^(http|https|ftp|sftp)://
          description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
        preferred_processing_schedule:
          $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
        status:
          $ref: '#/components/schemas/CatalogsStatus'
        catalog_type:
          $ref: '#/components/schemas/CatalogsType'
      required:
      - catalog_type
    ProductAvailabilityType:
      nullable: true
      description: Default availability for products in a feed.
      type: string
      enum:
      - IN_STOCK
      - OUT_OF_STOCK
      - PREORDER
      - null
    CatalogsRetailFeedsUpdateRequest:
      type: object
      title: catalogs_feeds_update_request
      description: Request object for updating a feed.
      additionalProperties: false
      properties:
        default_currency:
          $ref: '#/components/schemas/NullableCurrency'
        name:
          description: A human-friendly name associated to a given feed.
          type: string
        format:
          $ref: '#/components/schemas/CatalogsFormat'
        credentials:
          $ref: '#/components/schemas/CatalogsFeedCredentials'
        location:
          type: string
          pattern: ^(http|https|ftp|sftp)://
          description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
        preferred_processing_schedule:
          $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
        status:
          $ref: '#/components/schemas/CatalogsStatus'
        catalog_type:
          $ref: '#/components/schemas/CatalogsType'
        default_availability:
          $ref: '#/components/schemas/ProductAvailabilityType'
      required:
      - catalog_type
    CatalogsFormat:
      description: The file format of a feed.
      type: string
      enum:
      - TSV
      - CSV
      - XML
    CatalogsRetailFeed:
      type: object
      title: catalogs_retail_feed
      description: Catalogs Retail Feed object
      allOf:
      - $ref: '#/components/schemas/CatalogsDbItem'
      - type: object
        title: feed_fields
        properties:
          name:
            description: A human-friendly name associated to a given feed. This value is currently nullable due to historical reasons. It is expected to become non-nullable in the future.
            nullable: true
            type: string
          format:
            $ref: '#/components/schemas/CatalogsFormat'
          catalog_type:
            $ref: '#/components/schemas/CatalogsType'
          credentials:
            $ref: '#/components/schemas/CatalogsFeedCredentials'
          location:
            description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
            type: string
          preferred_processing_schedule:
            $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
          status:
            $ref: '#/components/schemas/CatalogsStatus'
          default_currency:
            $ref: '#/components/schemas/NullableCurrency'
          default_locale:
            description: The locale used within a feed for product descriptions.
            example: en-US
            type: string
          default_country:
            $ref: '#/components/schemas/Country'
          default_availability:
            $ref: '#/components/schemas/ProductAvailabilityType'
        required:
        - credentials
        - default_availability
        - default_country
        - default_currency
        - default_locale
        - format
        - location
        - name
        - preferred_processing_schedule
        - status
        - catalog_type
    CatalogsFeedValidationErrors:
      type: object
      properties:
        FETCH_ERROR:
          type: integer
          description: Pinterest couldn't download your feed.
        FETCH_INACTIVE_FEED_ERROR:
          type: integer
          description: Your feed wasn't ingested because it hasnt changed in the previous 90 days.
        ENCODING_ERROR:
          type: integer
          description: Your feed includes data with an unsupported encoding format.
        DELIMITER_ERROR:
          type: integer
          description: Your feed includes data with formatting errors.
        REQUIRED_COLUMNS_MISSING:
          type: integer
          description: Your feed is missing some required column headers.
        DUPLICATE_PRODUCTS:
          type: integer
          description: Some products are duplicated.
        IMAGE_LINK_INVALID:
          type: integer
          description: Some image links are formatted incorrectly.
        ITEMID_MISSING:
          type: integer
          description: Some items are missing an item id in their product metadata, those items will not be published.
        TITLE_MISSING:
          type: integer
          description: Some items are missing a title in their product metadata, those items will not be published.
        DESCRIPTION_MISSING:
          type: integer
          description: Some items are missing a description in their product metadata, those items will not be published.
        PRODUCT_LINK_MISSING:
          type: integer
          description: Some items are missing a link URL in their product metadata, those items will not be published.
        IMAGE_LINK_MISSING:
          type: integer
          description: Some items are missing an image link URL in their product metadata, those items will not be published.
        AVAILABILITY_INVALID:
          type: integer
          description: Some items are missing an availability value in their product metadata, those items will not be published.
        PRODUCT_PRICE_INVALID:
          type: integer
          description: Some items have price formatting errors in their product metadata, those items will not be published.
        LINK_FORMAT_INVALID:
          type: integer
          description: Some link values are formatted incorrectly.
        PARSE_LINE_ERROR:
          type: integer
          description: Your feed contains formatting errors for some items.
        ADWORDS_FORMAT_INVALID:
          type: integer
          description: Some adwords links contain too many characters.
        INTERNAL_SERVICE_ERROR:
          type: integer
          description: We experienced a technical difficulty and were unable to ingest your feed. The next ingestion will happen in 24 hours.
        NO_VERIFIED_DOMAIN:
          type: integer
          description: Your merchant domain needs to be claimed.
        ADULT_INVALID:
          type: integer
          description: Some items have invalid adult values.
        IMAGE_LINK_LENGTH_TOO_LONG:
          type: integer
          description: Some items have image_link URLs that contain too many characters, so those items will not be published.
        INVALID_DOMAIN:
          type: integer
          description: Some of your product link values don't match the verified domain associated with this account.
        FEED_LENGTH_TOO_LONG:
          type: integer
          description: Your feed contains too many items, some items will not be published.
        LINK_LENGTH_TOO_LONG:
          type: integer
          description: Some product links contain too many characters, those items will not be published.
        MALFORMED_XML:
          type: integer
          description: Your feed couldn't be validated because the xml file is formatted incorrectly.
        PRICE_MISSING:
          type: integer
          description: Some products are missing a price, those items will not be published.
        FEED_TOO_SMALL:
          type: integer
          description: Your feed couldn't be validated because the file doesn't contain the minimum number of lines required.
        MAX_ITEMS_PER_ITEM_GROUP_EXCEEDED:
          type: integer
          description: Some items exceed the maximum number of items per item group, those items will not be published.
        ITEM_MAIN_IMAGE_DOWNLOAD_FAILURE:
          type: integer
          description: Some items' main images can't be found.
        PINJOIN_CONTENT_UNSAFE:
          type: integer
          description: Some items were not published because they don't meet Pinterest's Merchant Guidelines.
        BLOCKLISTED_IMAGE_SIGNATURE:
          type: integer
          description: Some items were not published because they don't meet Pinterest's Merchant Guidelines.
        LIST_PRICE_INVALID:
          type: integer
          description: Some items have list price formatting errors in their product metadata, those items will not be published.
        PRICE_CANNOT_BE_DETERMINED:
          type: integer
          description: Some items were not published because price cannot be determined. The price, list price, and sale price are all different, so those items will not be published.
    CatalogsFeedValidationDetails:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/CatalogsFeedValidationErrors'
        warnings:
          $ref: '#/components/schemas/CatalogsFeedValidationWarnings'
      required:
      - errors
      - warnings
    Country:
      type: string
      description: Country ID from ISO 3166-1 alpha-2.
      example: US
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    CatalogsFeedProductCounts:
      type: object
      description: The counts can be null early in the process.
      nullable: true
      properties:
        original:
          description: The number of products in the feed file.
          type: integer
        ingested:
          description: The number of products successfully ingested from the feed file.
          type: integer
    CatalogsHotelFeed:
      type: object
      title: catalogs_hotel_feed
      description: Catalogs Hotel Feed object
      allOf:
      - $ref: '#/components/schemas/CatalogsDbItem'
      - type: object
        title: feed_fields
        properties:
          name:
            description: A human-friendly name associated to a given feed. This value is currently nullable due to historical reasons. It is expected to become non-nullable in the future.
            nullable: true
            type: string
          format:
            $ref: '#/components/schemas/CatalogsFormat'
          catalog_type:
            $ref: '#/components/schemas/CatalogsType'
          credentials:
            $ref: '#/components/schemas/CatalogsFeedCredentials'
          location:
            description: The URL where a feed is available for download. This URL is what Pinterest will use to download a feed for processing.
            type: string
          preferred_processing_schedule:
            $ref: '#/components/schemas/CatalogsFeedProcessingSchedule'
          status:
            $ref: '#/components/schemas/CatalogsStatus'
          default_currency:
            $ref: '#/components/schemas/NullableCurrency'
          default_locale:
            description: The locale used within a feed for product descriptions.
            example: en-US
            type: string
          catalog_id:
            description: Catalog id pertaining to the feed. If not provided, feed will use a default catalog based on type.
            nullable: true
            type: string
            pattern: ^\d+$
        required:
        - credentials
        - format
        - location
        - name
        - preferred_processing_schedule
        - status
        - catalog_type
        - default_locale
        - default_currency
        - catalog_id
    CatalogsFeedCredentials:
      type: object
      nullable: true
      description: This field is **OPTIONAL**. Use this if your feed file requires username and password.
      properties:
        password:
          description: The required password for downloading a feed.
          type: string
          format: password
        username:
          description: The required username for downloading a feed.
          type: string
      required:
      - username
      - password
    CatalogsType:
      description: Type of the catalog entity.
      type: string
      enum:
      - RETAIL
      - HOTEL
      - CREATIVE_ASSETS
    CatalogsStatus:
      type: string
      description: Status for catalogs entities. Present in catalogs_feed values. When a feed is deleted, the response will inform DELETED as status.
      enum:
      - ACTIVE
      - INACTIVE
    CatalogsFeedIngestionWarnings:
      type: object
      properties:
        ADDITIONAL_IMAGE_LEVEL_INTERNAL_ERROR:
          type: integer
          description: We experienced a technical difficulty and were unable to download some additional images. The next download attempt will happen in 24 hours.
        ADDITIONAL_IMAGE_FILE_NOT_ACCESSIBLE:
          type: integer
          description: Additional image files are unreadable. Please upload new files to continue.
        ADDITIONAL_IMAGE_MALFORMED_URL:
          type: integer
          description: Additional image files are unreadable. Please check your link and upload new files to continue.
        ADDITIONAL_IMAGE_FILE_NOT_FOUND:
          type: integer
          description: Additional image files are unreadable. Please upload new files to continue.
        ADDITIONAL_IMAGE_INVALID_FILE:
          type: integer
          description: Additional image files are unreadable. Please upload new files to continue.
        HOTEL_PRICE_HEADER_IS_PRESENT:
          type: integer
          description: price is not a supported column. Use base_price and sale_price instead.
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
  - targeting_template
  - audience_insights
  - audience_sharing
- name: Ad Formats
  tags:
  - lead_forms
  - lead_ads
  - leads_export
- name: Billing
  tags:
  - billing
  - order_lines
  - terms_of_service
- name: Business Access
  tags:
  - business_access_assets
  - business_access_invite
  - business_access_relationships
- name: Conversions
  tags:
  - conversion_events
  - conversion_tags
- name: Others
  tags:
  - integrations
  - oauth
  - resources
  - search
  - terms
- name: Shopping
  tags:
  - catalogs
- name: Deprecated
  tags:
  - product_groups
