openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Eligible API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Eligible
paths:
  /ad_accounts/{ad_account_id}/conversion_tags/ocpm_eligible:
    get:
      summary: Get Ocpm eligible conversion tags
      description: Get Ocpm eligible conversion tag events for an ad account.
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      operationId: ocpm_eligible_conversion_tags/get
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      x-sandbox: disabled
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionTagsOcpmEligibleResponse'
        default:
          description: Unexpected errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Eligible
components:
  parameters:
    path_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
  schemas:
    ConversionEventResponse:
      title: ConversionEventResponse
      type: object
      properties:
        conversion_event:
          type: string
          $ref: '#/components/schemas/ConversionTagType'
        conversion_tag_id:
          title: conversion_tag_id
          description: Id of the tag.
          type: string
          pattern: ^\d+$
          example: '2614324385652'
        ad_account_id:
          title: ad_account_id
          description: Id of the ad account.
          type: string
          pattern: ^\d+$
          example: '549757463328'
        created_time:
          title: created_time
          description: Creation date in epoch format.
          type: integer
          example: 1564768710
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    ConversionTagType:
      title: ConversionTagType
      description: conversion tag type
      type: string
      enum:
      - PAGE_LOAD
      - UNKNOWN
      - INITIALIZED
      - PAGE_VISIT
      - SIGNUP
      - CHECKOUT
      - CUSTOM
      - VIEW_CATEGORY
      - SEARCH
      - ADD_TO_CART
      - WATCH_VIDEO
      - LEAD
      - APP_INSTALL
      - WEB_SESSION
      - EXTERNAL_MEASUREMENT
      example: PAGE_LOAD
    ConversionTagsOcpmEligibleResponse:
      type: object
      additionalProperties:
        type: array
        items:
          $ref: '#/components/schemas/ConversionEventResponse'
      example:
        '12345':
        - conversion_event: PAGE_LOAD
          created_time: 1564768710
          conversion_tag_id: '2614324385652'
          ad_account_id: '549757463328'
        - conversion_event: CHECKOUT
          created_time: 1564710210
          conversion_tag_id: '2614324315793'
          ad_account_id: '549757463328'
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
  - targeting_template
  - audience_insights
  - audience_sharing
- name: Ad Formats
  tags:
  - lead_forms
  - lead_ads
  - leads_export
- name: Billing
  tags:
  - billing
  - order_lines
  - terms_of_service
- name: Business Access
  tags:
  - business_access_assets
  - business_access_invite
  - business_access_relationships
- name: Conversions
  tags:
  - conversion_events
  - conversion_tags
- name: Others
  tags:
  - integrations
  - oauth
  - resources
  - search
  - terms
- name: Shopping
  tags:
  - catalogs
- name: Deprecated
  tags:
  - product_groups
