openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Reports API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Reports
paths:
  /ad_accounts/{ad_account_id}/mmm_reports:
    get:
      summary: Get advertiser Marketing Mix Modeling (MMM) report.
      description: 'Get an mmm report for an ad account. This returns a URL to an mmm metrics report given a token returned from the

        create mmm report endpoint.'
      operationId: analytics/get_mmm_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_token_required'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMMMReportResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
    post:
      summary: Create a request for a Marketing Mix Modeling (MMM) report
      description: 'This creates an asynchronous mmm report based on the given request. It returns a token that you can use to download

        the report when it is ready. NOTE: An additional limit of 5 queries per minute per advertiser applies to this endpoint while it''s in beta release.'
      operationId: analytics/create_mmm_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMMMReportRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMMMReportResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics mmm parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics mmm parameters
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
  /ad_accounts/{ad_account_id}/reports:
    get:
      summary: Get the account analytics report created by the async call
      description: 'This returns a URL to an analytics report given a token returned from the post request report creation call. You can use the URL to download the report. The link is valid for five minutes and the report is valid for one hour.

        - The token''s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.'
      operationId: analytics/get_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_token_required'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsGetAsyncResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
    post:
      summary: Create async request for an account analytics report
      description: 'This returns a token that you can use to download the report when it is ready. Note that this endpoint requires the parameters to be passed as JSON-formatted in the request body. This endpoint does not support URL query parameters.

        - The token''s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.

        - If granularity is not HOUR, the furthest back you can are allowed to pull data is 914 days before the current date in UTC time and the max time range supported is 186 days.

        - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.

        - If level is PRODUCT_ITEM, the furthest back you can are allowed to pull data is 92 days before the current date in UTC time and the max time range supported is 31 days.

        - If level is PRODUCT_ITEM, ad_ids and ad_statuses parameters are not allowed. Any columns related to pin promotion and ad is not allowed either.'
      operationId: analytics/create_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdsAnalyticsCreateAsyncRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsCreateAsyncResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
  /ad_accounts/{ad_account_id}/templates/{template_id}/reports:
    post:
      summary: Create async request for an analytics report using a template
      description: 'This takes a template ID and an optional custom timeframe and constructs an asynchronous report based on the

        template. It returns a token that you can use to download the report when it is ready.'
      operationId: analytics/create_template_report
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_template_id'
      - $ref: '#/components/parameters/query_start_date_async'
      - $ref: '#/components/parameters/query_end_date_async'
      - $ref: '#/components/parameters/query_granularity_async'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdsAnalyticsCreateAsyncResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics template parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account analytics template parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
  /catalogs/reports:
    post:
      summary: Build catalogs report
      description: 'Async request to create a report of the catalog owned by the "operation user_account". This endpoint generates a report upon receiving the first approved request of the day. Any following requests with identical parameters will yield the same report even if data has changed.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.'
      operationId: reports/create
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-ratelimit-category: catalogs_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object to asynchronously create a report.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogsReportParameters'
      responses:
        '200':
          description: Response containing the report token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsCreateReportResponse'
        '404':
          description: Entity (e.g., catalog, feed or processing_result) not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogNotFound:
                  value:
                    code: 678
                    message: Sorry! We couldn't find that catalog. Please ensure you have access to a valid catalog id.
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
                CatalogsProcessingResultNotFound:
                  value:
                    code: 4184
                    message: Sorry! We could not find your processing result
        '409':
          description: Can't access this feature without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
    get:
      summary: Get catalogs report
      description: 'This returns a URL to a report given a token returned from <a href=''/docs/api/v5/#operation/reports/create''>Build catalogs report</a>. You can use the URL to download the report.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.'
      operationId: reports/get
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-ratelimit-category: catalogs_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      - $ref: '#/components/parameters/query_catalogs_report_token'
      responses:
        '200':
          description: Response that contains a link to download the report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsReport'
        '400':
          description: The token you provided is not valid or has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidReportingToken:
                  value:
                    code: 1104
                    message: The token you provided is not valid or has expired.
        '409':
          description: Can't access this feature without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
  /catalogs/reports/stats:
    get:
      summary: List report stats
      description: 'List aggregated numbers of issues for a catalog owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.'
      operationId: reports/stats
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-ratelimit-category: catalogs_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_catalogs_report_stats_parameters'
      responses:
        '200':
          description: Response containing the diagnostics aggregated counters
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogsReportStats'
        '401':
          description: Not authorized to access catalogs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 2
                    message: Authentication failed.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Reports
components:
  parameters:
    path_template_id:
      name: template_id
      description: Unique identifier of a template.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    path_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    query_granularity_async:
      description: TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
      example: DAY
      in: query
      name: granularity
      required: false
      schema:
        $ref: '#/components/schemas/Granularity'
    query_ad_account_id:
      name: ad_account_id
      description: Unique identifier of an ad account.
      in: query
      schema:
        type: string
        pattern: ^\d+$
        maxLength: 18
    query_page_size:
      name: page_size
      description: Maximum number of items to include in a single page of the response. See documentation on <a href='/docs/getting-started/pagination/'>Pagination</a> for more information.
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 25
    query_start_date_async:
      description: 'Metric report start date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years back from today.'
      in: query
      name: start_date
      required: false
      schema:
        type: string
        format: date
    query_bookmark:
      name: bookmark
      description: Cursor used to fetch the next page of items
      in: query
      required: false
      schema:
        type: string
    query_catalogs_report_token:
      name: token
      description: Token returned from async build report call
      in: query
      required: true
      schema:
        type: string
    query_token_required:
      name: token
      description: Token returned from the post request creation call
      in: query
      required: true
      schema:
        type: string
    query_end_date_async:
      description: 'Metric report end date (UTC). Format: YYYY-MM-DD. Cannot be more than 2.5 years past start date.'
      in: query
      name: end_date
      required: false
      schema:
        type: string
        format: date
    query_catalogs_report_stats_parameters:
      name: parameters
      in: query
      description: Contains the parameters for report identification.
      required: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogsReportParameters'
  schemas:
    CatalogsReportStats:
      type: object
      description: Diagnostics aggregated numbers
      oneOf:
      - $ref: '#/components/schemas/CatalogsReportFeedIngestionStats'
      - $ref: '#/components/schemas/CatalogsReportDistributionStats'
      discriminator:
        propertyName: report_type
        mapping:
          FEED_INGESTION_ISSUES: '#/components/schemas/CatalogsReportFeedIngestionStats'
          DISTRIBUTION_ISSUES: '#/components/schemas/CatalogsReportDistributionStats'
      properties:
        report_type:
          type: string
          enum:
          - FEED_INGESTION_ISSUES
          - DISTRIBUTION_ISSUES
      required:
      - report_type
    CatalogsReport:
      type: object
      properties:
        report_status:
          type: string
          enum:
          - FINISHED
          - IN_PROGRESS
        url:
          type: string
          nullable: true
          description: URL to download the report
        size:
          type: number
          nullable: true
          description: Size of the report in bytes
    CatalogsHotelReportParameters:
      type: object
      description: Parameters for hotel report
      properties:
        catalog_type:
          type: string
          enum:
          - HOTEL
        report:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CatalogsReportFeedIngestionFilter'
          - $ref: '#/components/schemas/CatalogsReportDistributionIssueFilter'
          discriminator:
            propertyName: report_type
            mapping:
              FEED_INGESTION_ISSUES: '#/components/schemas/CatalogsReportFeedIngestionFilter'
              DISTRIBUTION_ISSUES: '#/components/schemas/CatalogsReportDistributionIssueFilter'
          properties:
            report_type:
              type: string
              enum:
              - FEED_INGESTION_ISSUES
              - DISTRIBUTION_ISSUES
      required:
      - catalog_type
      - report
    Error:
      title: Error
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
      - message
    MetricsReportingLevel:
      type: string
      description: Level of the reporting request
      example: CAMPAIGN
      enum:
      - ADVERTISER
      - ADVERTISER_TARGETING
      - CAMPAIGN
      - CAMPAIGN_TARGETING
      - AD_GROUP
      - AD_GROUP_TARGETING
      - PIN_PROMOTION
      - PIN_PROMOTION_TARGETING
      - KEYWORD
      - PRODUCT_GROUP
      - PRODUCT_GROUP_TARGETING
      - PRODUCT_ITEM
    AdsAnalyticsCreateAsyncRequest:
      type: object
      allOf:
      - type: object
        properties:
          start_date:
            description: 'Metric report start date (UTC). Format: YYYY-MM-DD'
            type: string
            pattern: ^(\d{4})-(\d{2})-(\d{2})$
            example: '2020-12-20'
          end_date:
            description: 'Metric report end date (UTC). Format: YYYY-MM-DD'
            type: string
            pattern: ^(\d{4})-(\d{2})-(\d{2})$
            example: '2020-12-20'
          granularity:
            description: TOTAL - metrics are aggregated over the specified date range.<br> DAY - metrics are broken down daily.<br> HOUR - metrics are broken down hourly.<br>WEEKLY - metrics are broken down weekly.<br>MONTHLY - metrics are broken down monthly
            type: string
            allOf:
            - $ref: '#/components/schemas/Granularity'
          click_window_days:
            description: Number of days to use as the conversion attribution window for a pin click action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
            type: integer
            allOf:
            - $ref: '#/components/schemas/ConversionAttributionWindowDays'
            default: 30
          engagement_window_days:
            description: Number of days to use as the conversion attribution window for an engagement action. Engagements include saves, closeups, link clicks, and carousel card swipes. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `30` days.
            type: integer
            allOf:
            - $ref: '#/components/schemas/ConversionAttributionWindowDays'
            default: 30
          view_window_days:
            description: Number of days to use as the conversion attribution window for a view action. Applies to Pinterest Tag conversion metrics. Prior conversion tags use their defined attribution windows. If not specified, defaults to `1` day.
            type: integer
            allOf:
            - $ref: '#/components/schemas/ConversionAttributionWindowDays'
            default: 1
          conversion_report_time:
            description: 'The date by which the conversion metrics returned from this endpoint will be reported. There are two dates associated with a conversion event: the date that the user interacted with the ad, and the date that the user completed a conversion event.'
            type: string
            allOf:
            - $ref: '#/components/schemas/ConversionReportTimeType'
            default: TIME_OF_AD_ACTION
          attribution_types:
            description: List of types of attribution for the conversion report
            type: array
            items:
              $ref: '#/components/schemas/ConversionReportAttributionType'
        required:
        - start_date
        - end_date
        - granularity
      - type: object
        allOf:
        - type: object
          properties:
            campaign_ids:
              type: array
              description: List of campaign ids
              example:
              - '12345678'
              items:
                type: string
                pattern: ^\d+$
              maxItems: 500
              minItems: 1
        - type: object
          properties:
            campaign_statuses:
              type: array
              description: List of status values for filtering
              example:
              - RUNNING
              - PAUSED
              items:
                $ref: '#/components/schemas/CampaignSummaryStatus'
              maxItems: 6
              minItems: 1
        - type: object
          properties:
            campaign_objective_types:
              type: array
              description: List of values for filtering. ["WEB_SESSIONS"] in BETA.
              example:
              - AWARENESS
              - VIDEO_VIEW
              items:
                $ref: '#/components/schemas/ObjectiveType'
              maxItems: 6
              minItems: 1
        - type: object
          properties:
            ad_group_ids:
              type: array
              description: List of ad group ids
              example:
              - '12345678'
              items:
                type: string
                pattern: ^\d+$
              maxItems: 500
              minItems: 1
        - type: object
          properties:
            ad_group_statuses:
              type: array
              description: List of values for filtering
              example:
              - RUNNING
              - PAUSED
              items:
                $ref: '#/components/schemas/AdGroupSummaryStatus'
              maxItems: 6
              minItems: 1
        - type: object
          properties:
            ad_ids:
              type: array
              description: List of ad ids [This parameter is no supported for Product Item Level Reports]
              example:
              - '12345678'
              items:
                type: string
                pattern: ^\d+$
              maxItems: 500
              minItems: 1
        - type: object
          properties:
            ad_statuses:
              type: array
              description: List of values for filtering [This parameter is not supported for Product Item Level Reports]
              example:
              - APPROVED
              - PAUSED
              items:
                $ref: '#/components/schemas/PinPromotionSummaryStatus'
              maxItems: 6
              minItems: 1
        - type: object
          properties:
            product_group_ids:
              type: array
              description: List of product group ids
              example:
              - '12345678'
              items:
                type: string
                pattern: ^\d+$
              maxItems: 500
              minItems: 1
        - type: object
          properties:
            product_group_statuses:
              type: array
              description: List of values for filtering
              example:
              - RUNNING
              - PAUSED
              items:
                $ref: '#/components/schemas/ProductGroupSummaryStatus'
              maxItems: 6
              minItems: 1
        - type: object
          properties:
            product_item_ids:
              type: array
              description: List of product item ids
              example:
              - '12345678'
              items:
                type: string
                pattern: ^\d+$
              maxItems: 500
              minItems: 1
        - $ref: '#/components/schemas/TargetingTypeFilter'
        - type: object
          properties:
            metrics_filters:
              type: array
              description: List of metrics filters
              minItems: 1
              items:
                $ref: '#/components/schemas/AdsAnalyticsMetricsFilter'
      - type: object
        required:
        - level
        - columns
        properties:
          columns:
            description: Metric and entity columns. Pin promotion and ad related columns are not supported for the Product Item level reports.
            type: array
            items:
              $ref: '#/components/schemas/ReportingColumnAsync'
          level:
            type: string
            description: Level of the report
            allOf:
            - $ref: '#/components/schemas/MetricsReportingLevel'
            example: CAMPAIGN
          report_format:
            description: Specification for formatting the report data. Reports in JSON will not zero-fill metrics, whereas reports in CSV will. Both report formats will omit rows where all the columns are equal to 0.
            type: string
            allOf:
            - $ref: '#/components/schemas/DataOutputFormat'
            default: JSON
          primary_sort:
            type: string
            allOf:
            - type: string
              description: Whether to first sort the report by date or by ID. BY_DATE is recommended for large requests. BY_DATE for JSON format is currently not supported.
              example: BY_ID
              enum:
              - BY_ID
              - BY_DATE
            default: BY_ID
    CreateMMMReportResponse:
      type: object
      properties:
        code:
          example: 0
          type: number
        data:
          title: CreateMMMReportResponseData
          type: object
          properties:
            report_status:
              type: string
              allOf:
              - $ref: '#/components/schemas/BulkReportingJobStatus'
            token:
              type: string
            message:
              type: string
              nullable: true
            status:
              example: success
              type: string
    ReportingColumnAsync:
      type: string
      description: Reporting columns
      example: SPEND_IN_MICRO_DOLLAR
      enum:
      - SPEND_IN_MICRO_DOLLAR
      - PAID_IMPRESSION
      - SPEND_IN_DOLLAR
      - CPC_IN_MICRO_DOLLAR
      - ECPC_IN_MICRO_DOLLAR
      - ECPC_IN_DOLLAR
      - CTR
      - ECTR
      - OUTBOUND_CTR
      - COST_PER_OUTBOUND_CLICK
      - CAMPAIGN_NAME
      - CAMPAIGN_STATUS
      - PIN_PROMOTION_STATUS
      - AD_STATUS
      - PIN_ID
      - TOTAL_ENGAGEMENT
      - ENGAGEMENT_1
      - ENGAGEMENT_2
      - ECPE_IN_DOLLAR
      - ENGAGEMENT_RATE
      - EENGAGEMENT_RATE
      - ECPM_IN_MICRO_DOLLAR
      - REPIN_RATE
      - CTR_2
      - CAMPAIGN_ID
      - ADVERTISER_ID
      - AD_ACCOUNT_ID
      - PIN_PROMOTION_ID
      - AD_ID
      - AD_GROUP_ID
      - CAMPAIGN_ENTITY_STATUS
      - CAMPAIGN_MANAGED_STATUS
      - CAMPAIGN_OBJECTIVE_TYPE
      - CPM_IN_MICRO_DOLLAR
      - CPM_IN_DOLLAR
      - AD_GROUP_NAME
      - AD_GROUP_STATUS
      - AD_GROUP_ENTITY_STATUS
      - PRODUCT_GROUP_ID
      - PRODUCT_GROUP_STATUS
      - ORDER_LINE_ID
      - ORDER_LINE_NAME
      - CLICKTHROUGH_1
      - REPIN_1
      - IMPRESSION_1
      - IMPRESSION_1_GROSS
      - CLICKTHROUGH_1_GROSS
      - OUTBOUND_CLICK_1
      - CLICKTHROUGH_2
      - REPIN_2
      - IMPRESSION_2
      - OUTBOUND_CLICK_2
      - TOTAL_CLICKTHROUGH
      - TOTAL_IMPRESSION
      - TOTAL_IMPRESSION_USER
      - TOTAL_IMPRESSION_FREQUENCY
      - COST_PER_OUTBOUND_CLICK_IN_DOLLAR
      - TOTAL_ENGAGEMENT_PAGE_VISIT
      - TOTAL_ENGAGEMENT_SIGNUP
      - TOTAL_ENGAGEMENT_CHECKOUT
      - TOTAL_ENGAGEMENT_CUSTOM
      - TOTAL_ENGAGEMENT_ADD_TO_CART
      - TOTAL_ENGAGEMENT_LEAD
      - TOTAL_ENGAGEMENT_SEARCH
      - TOTAL_ENGAGEMENT_WATCH_VIDEO
      - TOTAL_ENGAGEMENT_VIEW_CATEGORY
      - TOTAL_ENGAGEMENT_APP_INSTALL
      - TOTAL_ENGAGEMENT_UNKNOWN
      - TOTAL_CLICK_PAGE_VISIT
      - TOTAL_CLICK_SIGNUP
      - TOTAL_CLICK_CHECKOUT
      - TOTAL_CLICK_CUSTOM
      - TOTAL_CLICK_ADD_TO_CART
      - TOTAL_CLICK_LEAD
      - TOTAL_CLICK_SEARCH
      - TOTAL_CLICK_WATCH_VIDEO
      - TOTAL_CLICK_VIEW_CATEGORY
      - TOTAL_CLICK_APP_INSTALL
      - TOTAL_CLICK_UNKNOWN
      - TOTAL_VIEW_PAGE_VISIT
      - TOTAL_VIEW_SIGNUP
      - TOTAL_VIEW_CHECKOUT
      - TOTAL_VIEW_CUSTOM
      - TOTAL_VIEW_ADD_TO_CART
      - TOTAL_VIEW_LEAD
      - TOTAL_VIEW_SEARCH
      - TOTAL_VIEW_WATCH_VIDEO
      - TOTAL_VIEW_VIEW_CATEGORY
      - TOTAL_VIEW_APP_INSTALL
      - TOTAL_VIEW_UNKNOWN
      - TOTAL_CONVERSIONS
      - TOTAL_ENGAGEMENT_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CLICK_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_VIEW_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CONVERSIONS_VALUE_IN_MICRO_DOLLAR
      - TOTAL_ENGAGEMENT_PAGE_VISIT_QUANTITY
      - TOTAL_ENGAGEMENT_SIGNUP_QUANTITY
      - TOTAL_ENGAGEMENT_CHECKOUT_QUANTITY
      - TOTAL_ENGAGEMENT_CUSTOM_QUANTITY
      - TOTAL_ENGAGEMENT_ADD_TO_CART_QUANTITY
      - TOTAL_ENGAGEMENT_LEAD_QUANTITY
      - TOTAL_ENGAGEMENT_SEARCH_QUANTITY
      - TOTAL_ENGAGEMENT_WATCH_VIDEO_QUANTITY
      - TOTAL_ENGAGEMENT_VIEW_CATEGORY_QUANTITY
      - TOTAL_ENGAGEMENT_UNKNOWN_QUANTITY
      - TOTAL_CLICK_PAGE_VISIT_QUANTITY
      - TOTAL_CLICK_SIGNUP_QUANTITY
      - TOTAL_CLICK_CHECKOUT_QUANTITY
      - TOTAL_CLICK_CUSTOM_QUANTITY
      - TOTAL_CLICK_ADD_TO_CART_QUANTITY
      - TOTAL_CLICK_LEAD_QUANTITY
      - TOTAL_CLICK_SEARCH_QUANTITY
      - TOTAL_CLICK_WATCH_VIDEO_QUANTITY
      - TOTAL_CLICK_VIEW_CATEGORY_QUANTITY
      - TOTAL_CLICK_UNKNOWN_QUANTITY
      - TOTAL_VIEW_PAGE_VISIT_QUANTITY
      - TOTAL_VIEW_SIGNUP_QUANTITY
      - TOTAL_VIEW_CHECKOUT_QUANTITY
      - TOTAL_VIEW_CUSTOM_QUANTITY
      - TOTAL_VIEW_ADD_TO_CART_QUANTITY
      - TOTAL_VIEW_LEAD_QUANTITY
      - TOTAL_VIEW_SEARCH_QUANTITY
      - TOTAL_VIEW_WATCH_VIDEO_QUANTITY
      - TOTAL_VIEW_VIEW_CATEGORY_QUANTITY
      - TOTAL_VIEW_UNKNOWN_QUANTITY
      - TOTAL_CONVERSIONS_QUANTITY
      - TOTAL_WEB_SESSIONS
      - WEB_SESSIONS_1
      - WEB_SESSIONS_2
      - ONSITE_CHECKOUTS_1
      - PIN_PROMOTION_NAME
      - AD_NAME
      - CAMPAIGN_LIFETIME_SPEND_CAP
      - CAMPAIGN_DAILY_SPEND_CAP
      - TOTAL_PAGE_VISIT_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_PAGE_VISIT_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_PAGE_VISIT_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_PAGE_VISIT_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_PAGE_VISIT_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_PAGE_VISIT_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_PAGE_VISIT_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_PAGE_VISIT_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_PAGE_VISIT_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SIGNUP_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SIGNUP_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SIGNUP_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SIGNUP_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SIGNUP_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SIGNUP_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SIGNUP_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SIGNUP_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SIGNUP_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CHECKOUT_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CHECKOUT_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CHECKOUT_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CHECKOUT_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CHECKOUT_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CHECKOUT_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CHECKOUT_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CHECKOUT_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CHECKOUT_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CUSTOM_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CUSTOM_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CUSTOM_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CUSTOM_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CUSTOM_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CUSTOM_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_CUSTOM_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_CUSTOM_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_CUSTOM_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_ADD_TO_CART_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_ADD_TO_CART_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_ADD_TO_CART_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_ADD_TO_CART_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_ADD_TO_CART_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_ADD_TO_CART_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_ADD_TO_CART_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_ADD_TO_CART_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_ADD_TO_CART_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_LEAD_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_LEAD_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_LEAD_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_LEAD_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_LEAD_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_LEAD_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_LEAD_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_LEAD_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_LEAD_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SEARCH_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SEARCH_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SEARCH_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SEARCH_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SEARCH_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SEARCH_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_SEARCH_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_SEARCH_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_SEARCH_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_WATCH_VIDEO_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_WATCH_VIDEO_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_WATCH_VIDEO_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_WATCH_VIDEO_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_WATCH_VIDEO_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_WATCH_VIDEO_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_WATCH_VIDEO_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_WATCH_VIDEO_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_WATCH_VIDEO_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_VIEW_CATEGORY_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_VIEW_CATEGORY_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_VIEW_CATEGORY_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_VIEW_CATEGORY_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_VIEW_CATEGORY_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_VIEW_CATEGORY_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_VIEW_CATEGORY_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_VIEW_CATEGORY_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_VIEW_CATEGORY_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_APP_INSTALL_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_APP_INSTALL_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_APP_INSTALL_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_APP_INSTALL_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_APP_INSTALL_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_APP_INSTALL_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_APP_INSTALL_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_APP_INSTALL_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_APP_INSTALL_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_UNKNOWN_DESKTOP_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_UNKNOWN_DESKTOP_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_UNKNOWN_DESKTOP_ACTION_TO_TABLET_CONVERSION
      - TOTAL_UNKNOWN_MOBILE_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_UNKNOWN_MOBILE_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_UNKNOWN_MOBILE_ACTION_TO_TABLET_CONVERSION
      - TOTAL_UNKNOWN_TABLET_ACTION_TO_DESKTOP_CONVERSION
      - TOTAL_UNKNOWN_TABLET_ACTION_TO_MOBILE_CONVERSION
      - TOTAL_UNKNOWN_TABLET_ACTION_TO_TABLET_CONVERSION
      - TOTAL_PAGE_VISIT
      - TOTAL_SIGNUP
      - TOTAL_CHECKOUT
      - TOTAL_CUSTOM
      - TOTAL_LEAD
      - TOTAL_APP_INSTALL
      - TOTAL_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_CHECKOUT_QUANTITY
      - PAGE_VISIT_COST_PER_ACTION
      - APP_INSTALL_COST_PER_ACTION
      - PAGE_VISIT_ROAS
      - CHECKOUT_ROAS
      - CUSTOM_ROAS
      - VIDEO_3SEC_VIEWS_1
      - VIDEO_P100_COMPLETE_1
      - VIDEO_P0_COMBINED_1
      - VIDEO_P25_COMBINED_1
      - VIDEO_P50_COMBINED_1
      - VIDEO_P75_COMBINED_1
      - VIDEO_P95_COMBINED_1
      - VIDEO_MRC_VIEWS_1
      - VIDEO_3SEC_VIEWS_2
      - VIDEO_P100_COMPLETE_2
      - VIDEO_P0_COMBINED_2
      - VIDEO_P25_COMBINED_2
      - VIDEO_P50_COMBINED_2
      - VIDEO_P75_COMBINED_2
      - VIDEO_P95_COMBINED_2
      - VIDEO_MRC_VIEWS_2
      - VIDEO_LENGTH
      - CPV_IN_MICRO_DOLLAR
      - ECPV_IN_DOLLAR
      - CPCV_IN_MICRO_DOLLAR
      - ECPCV_IN_DOLLAR
      - CPCV_P95_IN_MICRO_DOLLAR
      - ECPCV_P95_IN_DOLLAR
      - TOTAL_VIDEO_3SEC_VIEWS
      - TOTAL_VIDEO_P100_COMPLETE
      - TOTAL_VIDEO_P0_COMBINED
      - TOTAL_VIDEO_P25_COMBINED
      - TOTAL_VIDEO_P50_COMBINED
      - TOTAL_VIDEO_P75_COMBINED
      - TOTAL_VIDEO_P95_COMBINED
      - TOTAL_VIDEO_MRC_VIEWS
      - VIDEO_AVG_WATCHTIME_IN_SECOND_1
      - VIDEO_AVG_WATCHTIME_IN_SECOND_2
      - TOTAL_VIDEO_AVG_WATCHTIME_IN_SECOND
      - TOTAL_DESTINATION_VIEWS
      - TOTAL_REPIN_RATE
      - WEB_CHECKOUT_COST_PER_ACTION
      - WEB_CHECKOUT_ROAS
      - TOTAL_WEB_CHECKOUT
      - TOTAL_WEB_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_CHECKOUT
      - TOTAL_WEB_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_CHECKOUT
      - TOTAL_WEB_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_CHECKOUT
      - TOTAL_WEB_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - INAPP_CHECKOUT_COST_PER_ACTION
      - INAPP_CHECKOUT_ROAS
      - TOTAL_INAPP_CHECKOUT
      - TOTAL_INAPP_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_CHECKOUT
      - TOTAL_INAPP_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_CHECKOUT
      - TOTAL_INAPP_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_CHECKOUT
      - TOTAL_INAPP_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - OFFLINE_CHECKOUT_COST_PER_ACTION
      - OFFLINE_CHECKOUT_ROAS
      - TOTAL_OFFLINE_CHECKOUT
      - TOTAL_OFFLINE_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_CLICK_CHECKOUT
      - TOTAL_OFFLINE_CLICK_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_ENGAGEMENT_CHECKOUT
      - TOTAL_OFFLINE_ENGAGEMENT_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_VIEW_CHECKOUT
      - TOTAL_OFFLINE_VIEW_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - PINTEREST_CHECKOUT_COST_PER_ACTION
      - PINTEREST_CHECKOUT_ROAS
      - TOTAL_PINTEREST_CHECKOUT
      - TOTAL_PINTEREST_CHECKOUT_VALUE_IN_MICRO_DOLLAR
      - WEB_ADD_TO_CART_COST_PER_ACTION
      - WEB_ADD_TO_CART_ROAS
      - TOTAL_WEB_ADD_TO_CART
      - TOTAL_WEB_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_ADD_TO_CART
      - TOTAL_WEB_CLICK_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_ADD_TO_CART
      - TOTAL_WEB_ENGAGEMENT_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_ADD_TO_CART
      - TOTAL_WEB_VIEW_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - INAPP_ADD_TO_CART_COST_PER_ACTION
      - INAPP_ADD_TO_CART_ROAS
      - TOTAL_INAPP_ADD_TO_CART
      - TOTAL_INAPP_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_ADD_TO_CART
      - TOTAL_INAPP_CLICK_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_ADD_TO_CART
      - TOTAL_INAPP_ENGAGEMENT_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_ADD_TO_CART
      - TOTAL_INAPP_VIEW_ADD_TO_CART_VALUE_IN_MICRO_DOLLAR
      - WEB_PAGE_VISIT_COST_PER_ACTION
      - WEB_PAGE_VISIT_ROAS
      - TOTAL_WEB_PAGE_VISIT
      - TOTAL_WEB_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_PAGE_VISIT
      - TOTAL_WEB_CLICK_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_PAGE_VISIT
      - TOTAL_WEB_ENGAGEMENT_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_PAGE_VISIT
      - TOTAL_WEB_VIEW_PAGE_VISIT_VALUE_IN_MICRO_DOLLAR
      - WEB_SIGNUP_COST_PER_ACTION
      - WEB_SIGNUP_ROAS
      - TOTAL_WEB_SIGNUP
      - TOTAL_WEB_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_SIGNUP
      - TOTAL_WEB_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_SIGNUP
      - TOTAL_WEB_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_SIGNUP
      - TOTAL_WEB_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - INAPP_SIGNUP_COST_PER_ACTION
      - INAPP_SIGNUP_ROAS
      - TOTAL_INAPP_SIGNUP
      - TOTAL_INAPP_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_SIGNUP
      - TOTAL_INAPP_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_SIGNUP
      - TOTAL_INAPP_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_SIGNUP
      - TOTAL_INAPP_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - OFFLINE_SIGNUP_COST_PER_ACTION
      - OFFLINE_SIGNUP_ROAS
      - TOTAL_OFFLINE_SIGNUP
      - TOTAL_OFFLINE_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_CLICK_SIGNUP
      - TOTAL_OFFLINE_CLICK_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_ENGAGEMENT_SIGNUP
      - TOTAL_OFFLINE_ENGAGEMENT_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_VIEW_SIGNUP
      - TOTAL_OFFLINE_VIEW_SIGNUP_VALUE_IN_MICRO_DOLLAR
      - WEB_WATCH_VIDEO_COST_PER_ACTION
      - WEB_WATCH_VIDEO_ROAS
      - TOTAL_WEB_WATCH_VIDEO
      - TOTAL_WEB_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_WATCH_VIDEO
      - TOTAL_WEB_CLICK_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_WATCH_VIDEO
      - TOTAL_WEB_ENGAGEMENT_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_WATCH_VIDEO
      - TOTAL_WEB_VIEW_WATCH_VIDEO_VALUE_IN_MICRO_DOLLAR
      - WEB_LEAD_COST_PER_ACTION
      - WEB_LEAD_ROAS
      - TOTAL_WEB_LEAD
      - TOTAL_WEB_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_LEAD
      - TOTAL_WEB_CLICK_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_LEAD
      - TOTAL_WEB_ENGAGEMENT_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_LEAD
      - TOTAL_WEB_VIEW_LEAD_VALUE_IN_MICRO_DOLLAR
      - OFFLINE_LEAD_COST_PER_ACTION
      - OFFLINE_LEAD_ROAS
      - TOTAL_OFFLINE_LEAD
      - TOTAL_OFFLINE_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_CLICK_LEAD
      - TOTAL_OFFLINE_CLICK_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_ENGAGEMENT_LEAD
      - TOTAL_OFFLINE_ENGAGEMENT_LEAD_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_VIEW_LEAD
      - TOTAL_OFFLINE_VIEW_LEAD_VALUE_IN_MICRO_DOLLAR
      - WEB_SEARCH_COST_PER_ACTION
      - WEB_SEARCH_ROAS
      - TOTAL_WEB_SEARCH
      - TOTAL_WEB_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_SEARCH
      - TOTAL_WEB_CLICK_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_SEARCH
      - TOTAL_WEB_ENGAGEMENT_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_SEARCH
      - TOTAL_WEB_VIEW_SEARCH_VALUE_IN_MICRO_DOLLAR
      - INAPP_SEARCH_COST_PER_ACTION
      - INAPP_SEARCH_ROAS
      - TOTAL_INAPP_SEARCH
      - TOTAL_INAPP_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_SEARCH
      - TOTAL_INAPP_CLICK_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_SEARCH
      - TOTAL_INAPP_ENGAGEMENT_SEARCH_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_SEARCH
      - TOTAL_INAPP_VIEW_SEARCH_VALUE_IN_MICRO_DOLLAR
      - WEB_VIEW_CATEGORY_COST_PER_ACTION
      - WEB_VIEW_CATEGORY_ROAS
      - TOTAL_WEB_VIEW_CATEGORY
      - TOTAL_WEB_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_VIEW_CATEGORY
      - TOTAL_WEB_CLICK_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_VIEW_CATEGORY
      - TOTAL_WEB_ENGAGEMENT_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_VIEW_CATEGORY
      - TOTAL_WEB_VIEW_VIEW_CATEGORY_VALUE_IN_MICRO_DOLLAR
      - WEB_CUSTOM_COST_PER_ACTION
      - WEB_CUSTOM_ROAS
      - TOTAL_WEB_CUSTOM
      - TOTAL_WEB_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_CUSTOM
      - TOTAL_WEB_CLICK_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_CUSTOM
      - TOTAL_WEB_ENGAGEMENT_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_CUSTOM
      - TOTAL_WEB_VIEW_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - OFFLINE_CUSTOM_COST_PER_ACTION
      - OFFLINE_CUSTOM_ROAS
      - TOTAL_OFFLINE_CUSTOM
      - TOTAL_OFFLINE_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_CLICK_CUSTOM
      - TOTAL_OFFLINE_CLICK_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_ENGAGEMENT_CUSTOM
      - TOTAL_OFFLINE_ENGAGEMENT_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_VIEW_CUSTOM
      - TOTAL_OFFLINE_VIEW_CUSTOM_VALUE_IN_MICRO_DOLLAR
      - WEB_UNKNOWN_COST_PER_ACTION
      - WEB_UNKNOWN_ROAS
      - TOTAL_WEB_UNKNOWN
      - TOTAL_WEB_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_CLICK_UNKNOWN
      - TOTAL_WEB_CLICK_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_ENGAGEMENT_UNKNOWN
      - TOTAL_WEB_ENGAGEMENT_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_WEB_VIEW_UNKNOWN
      - TOTAL_WEB_VIEW_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - INAPP_UNKNOWN_COST_PER_ACTION
      - INAPP_UNKNOWN_ROAS
      - TOTAL_INAPP_UNKNOWN
      - TOTAL_INAPP_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_UNKNOWN
      - TOTAL_INAPP_CLICK_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_UNKNOWN
      - TOTAL_INAPP_ENGAGEMENT_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_UNKNOWN
      - TOTAL_INAPP_VIEW_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - OFFLINE_UNKNOWN_COST_PER_ACTION
      - OFFLINE_UNKNOWN_ROAS
      - TOTAL_OFFLINE_UNKNOWN
      - TOTAL_OFFLINE_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_CLICK_UNKNOWN
      - TOTAL_OFFLINE_CLICK_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_ENGAGEMENT_UNKNOWN
      - TOTAL_OFFLINE_ENGAGEMENT_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - TOTAL_OFFLINE_VIEW_UNKNOWN
      - TOTAL_OFFLINE_VIEW_UNKNOWN_VALUE_IN_MICRO_DOLLAR
      - INAPP_APP_INSTALL_COST_PER_ACTION
      - INAPP_APP_INSTALL_ROAS
      - TOTAL_INAPP_APP_INSTALL
      - TOTAL_INAPP_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_CLICK_APP_INSTALL
      - TOTAL_INAPP_CLICK_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_ENGAGEMENT_APP_INSTALL
      - TOTAL_INAPP_ENGAGEMENT_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - TOTAL_INAPP_VIEW_APP_INSTALL
      - TOTAL_INAPP_VIEW_APP_INSTALL_VALUE_IN_MICRO_DOLLAR
      - IDEA_PIN_PRODUCT_TAG_VISIT_1
      - IDEA_PIN_PRODUCT_TAG_VISIT_2
      - TOTAL_IDEA_PIN_PRODUCT_TAG_VISIT
      - LEADS
      - COST_PER_LEAD
      - QUIZ_COMPLETED
      - QUIZ_COMPLETION_RATE
      - SHOWCASE_PIN_CLICKTHROUGH
      - SHOWCASE_SUBPAGE_CLICKTHROUGH
      - SHOWCASE_SUBPIN_CLICKTHROUGH
      - SHOWCASE_SUBPAGE_IMPRESSION
      - SHOWCASE_SUBPIN_IMPRESSION
      - SHOWCASE_SUBPAGE_SWIPE_LEFT
      - SHOWCASE_SUBPAGE_SWIPE_RIGHT
      - SHOWCASE_SUBPIN_SWIPE_LEFT
      - SHOWCASE_SUBPIN_SWIPE_RIGHT
      - SHOWCASE_SUBPAGE_REPIN
      - SHOWCASE_SUBPIN_REPIN
      - SHOWCASE_SUBPAGE_CLOSEUP
      - SHOWCASE_CARD_THUMBNAIL_SWIPE_FORWARD
      - SHOWCASE_CARD_THUMBNAIL_SWIPE_BACKWARD
      - SHOWCASE_AVERAGE_SUBPAGE_CLOSEUP_PER_SESSION
      - TOTAL_CHECKOUT_CONVERSION_RATE
      - TOTAL_VIEW_CATEGORY_CONVERSION_RATE
      - TOTAL_ADD_TO_CART_CONVERSION_RATE
      - TOTAL_SIGNUP_CONVERSION_RATE
      - TOTAL_PAGE_VISIT_CONVERSION_RATE
      - TOTAL_LEAD_CONVERSION_RATE
      - TOTAL_SEARCH_CONVERSION_RATE
      - TOTAL_WATCH_VIDEO_CONVERSION_RATE
      - TOTAL_UNKNOWN_CONVERSION_RATE
      - TOTAL_CUSTOM_CONVERSION_RATE
      - STANDARD_AD_FEED_ITEM_ID
    MMMReportingTargetingType:
      type: string
      description: Ad targeting types for MMM report
      example: APPTYPE
      enum:
      - APPTYPE
      - COUNTRY
      - CREATIVE_TYPE
      - GENDER
      - LOCATION
    ObjectiveType:
      type: string
      description: Campaign objective type. If set as one of ["AWARENESS", "CONSIDERATION", "WEB_CONVERSION", "CATALOG_SALES"] the campaign is considered as a Campaign Budget Optimization (CBO) campaign, meaning budget needs to be set at the campaign level rather than at the ad group level. ["WEB_SESSIONS"] is DEPRECATED. For update, only draft campaigns may update objective type.
      enum:
      - AWARENESS
      - CONSIDERATION
      - VIDEO_VIEW
      - WEB_CONVERSION
      - CATALOG_SALES
      - WEB_SESSIONS
    AdGroupSummaryStatus:
      type: string
      description: Summary status for ad group
      example: RUNNING
      enum:
      - RUNNING
      - PAUSED
      - NOT_STARTED
      - COMPLETED
      - ADVERTISER_DISABLED
      - ARCHIVED
      - DRAFT
      - DELETED_DRAFT
    TargetingTypeFilter:
      type: object
      properties:
        targeting_types:
          type: array
          description: List of targeting types. Requires `level` to be a value ending in `_TARGETING`. ["AGE_BUCKET_AND_GENDER"] is in BETA and not yet available to all users.
          items:
            $ref: '#/components/schemas/AdsAnalyticsTargetingType'
          maxItems: 5
          minItems: 1
    CatalogsReportFeedIngestionFilter:
      type: object
      additionalProperties: false
      properties:
        report_type:
          type: string
          enum:
          - FEED_INGESTION_ISSUES
        feed_id:
          type: string
          pattern: ^\d+$
          description: ID of the feed entity.
        processing_result_id:
          type: string
          pattern: ^\d+$
          description: Unique identifier of a feed processing result. It can be acquired from the "id" field of the "items" array within the response of the [List processing results for a given feed](https://developers.pinterest.com/docs/api/v5/#operation/feed_processing_results/list). If not provided, default to most recent completed processing result.
      required:
      - report_type
      - feed_id
    AdsAnalyticsFilterOperator:
      type: string
      description: Filter operator for sync reporting
      example: LESS_THAN
      enum:
      - LESS_THAN
      - GREATER_THAN
    AdsAnalyticsMetricsFilter:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/AdsAnalyticsFilterColumn'
        operator:
          $ref: '#/components/schemas/AdsAnalyticsFilterOperator'
        values:
          type: array
          description: List of values for filtering
          items:
            type: number
          minItems: 1
      required:
      - field
      - operator
      - values
    Paginated:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
        bookmark:
          type: string
          nullable: true
      required:
      - items
    AdsAnalyticsCreateAsyncResponse:
      type: object
      properties:
        report_status:
          type: string
          allOf:
          - $ref: '#/components/schemas/BulkReportingJobStatus'
        token:
          type: string
        message:
          type: string
          nullable: true
    CreateMMMReportRequest:
      type: object
      allOf:
      - type: object
        properties:
          countries:
            type: array
            description: A List of countries for filtering
            items:
              $ref: '#/components/schemas/TargetingAdvertiserCountry'
      properties:
        report_name:
          description: Name of the Marketing Mix Modeling (MMM) report
          title: report_name
          type: string
        start_date:
          description: 'Metric report start date (UTC). Format: YYYY-MM-DD'
          type: string
          pattern: ^(\d{4})-(\d{2})-(\d{2})$
          example: '2020-12-20'
        end_date:
          description: 'Metric report end date (UTC). Format: YYYY-MM-DD'
          type: string
          pattern: ^(\d{4})-(\d{2})-(\d{2})$
          example: '2020-12-20'
        granularity:
          description: DAY - metrics are broken down daily.<br> WEEK - metrics are broken down weekly.
          type: string
          enum:
          - DAY
          - WEEK
        level:
          description: Level of the report
          type: string
          enum:
          - CAMPAIGN_TARGETING
          - AD_GROUP_TARGETING
        targeting_types:
          description: List of targeting types
          example:
          - GENDER
          items:
            $ref: '#/components/schemas/MMMReportingTargetingType'
          maxItems: 5
          minItems: 1
          title: targeting_types
          type: array
        columns:
          description: Metric and entity columns
          type: array
          items:
            $ref: '#/components/schemas/MMMReportingColumn'
      required:
      - report_name
      - start_date
      - end_date
      - granularity
      - level
      - targeting_types
      - columns
    DataOutputFormat:
      type: string
      description: Format of generated report
      example: JSON
      enum:
      - JSON
      - CSV
    ConversionReportAttributionType:
      type: string
      description: Attribution type. Refers to the Pinterest Tag endpoints
      example: INDIVIDUAL
      enum:
      - INDIVIDUAL
      - HOUSEHOLD
    TargetingAdvertiserCountry:
      type: string
      description: Advertiser's ISO two character country code.
      example: US
      nullable: true
      enum:
      - US
      - GB
      - CA
      - IE
      - AU
      - NZ
      - FR
      - SE
      - IL
      - DE
      - AT
      - IT
      - ES
      - NL
      - BE
      - PT
      - CH
      - HK
      - JP
      - KR
      - SG
      - 'NO'
      - DK
      - FI
      - CY
      - LU
      - MT
      - PL
      - RO
      - HU
      - CZ
      - GR
      - SK
      - BR
      - MX
      - AR
      - CL
      - CO
    CatalogsReportDistributionIssueFilter:
      type: object
      additionalProperties: false
      properties:
        report_type:
          type: string
          enum:
          - DISTRIBUTION_ISSUES
        catalog_id:
          type: string
          description: Unique identifier of a catalog. If not given, oldest catalog will be used
          pattern: ^\d+$
      required:
      - report_type
    GetMMMReportResponse:
      properties:
        code:
          example: 0
          type: number
        data:
          title: GetMMMReportResponseData
          type: object
          properties:
            report_status:
              type: string
              enum:
              - DOES_NOT_EXIST
              - FINISHED
              - IN_PROGRESS
              - EXPIRED
              - FAILED
              - CANCELLED
            url:
              type: string
              nullable: true
            size:
              type: number
              nullable: true
        message:
          example: ok
          type: string
        status:
          example: success
          type: string
      type: object
    ConversionAttributionWindowDays:
      type: integer
      enum:
      - 0
      - 1
      - 7
      - 14
      - 30
      - 60
    PinPromotionSummaryStatus:
      type: string
      description: Summary status for pin promotions
      example: APPROVED
      enum:
      - APPROVED
      - PAUSED
      - PENDING
      - REJECTED
      - ADVERTISER_DISABLED
      - ARCHIVED
      - DRAFT
      - DELETED_DRAFT
    CatalogsReportFeedIngestionStats:
      type: object
      properties:
        report_type:
          type: string
          enum:
          - FEED_INGESTION_ISSUES
        catalog_id:
          type: string
          pattern: ^\d+$
          description: ID of the catalog entity.
        code:
          description: The event code that a diagnostics aggregated number references
          type: integer
          example: 112
        code_label:
          description: A human-friendly label for the event code (e.g, 'AVAILABILITY_INVALID')
          type: string
          example: AVAILABILITY_INVALID
        message:
          description: Title message describing the diagnostic issue
          type: string
        occurrences:
          description: Number of occurrences of the issue
          example: 10
          type: integer
        severity:
          description: An ERROR means that items have been dropped, while a WARN denotes that items have been ingested despite an issue
          type: string
          enum:
          - WARN
          - ERROR
    AdsAnalyticsTargetingType:
      type: string
      description: Reporting targeting type
      example: APPTYPE
      enum:
      - KEYWORD
      - APPTYPE
      - GENDER
      - LOCATION
      - PLACEMENT
      - COUNTRY
      - TARGETED_INTEREST
      - PINNER_INTEREST
      - AUDIENCE_INCLUDE
      - GEO
      - AGE_BUCKET
      - REGION
      - AGE_BUCKET_AND_GENDER
    CatalogsRetailReportParameters:
      type: object
      description: Parameters for retail report
      properties:
        catalog_type:
          type: string
          enum:
          - RETAIL
        report:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CatalogsReportFeedIngestionFilter'
          - $ref: '#/components/schemas/CatalogsReportDistributionIssueFilter'
          discriminator:
            propertyName: report_type
            mapping:
              FEED_INGESTION_ISSUES: '#/components/schemas/CatalogsReportFeedIngestionFilter'
              DISTRIBUTION_ISSUES: '#/components/schemas/CatalogsReportDistributionIssueFilter'
          properties:
            report_type:
              type: string
              enum:
              - FEED_INGESTION_ISSUES
              - DISTRIBUTION_ISSUES
      required:
      - catalog_type
      - report
    ProductGroupSummaryStatus:
      type: string
      description: Summary status for product group
      example: RUNNING
      enum:
      - RUNNING
      - PAUSED
      - EXCLUDED
      - ARCHIVED
    CatalogsReportParameters:
      type: object
      description: Report parameters
      properties:
        catalog_type:
          $ref: '#/components/schemas/CatalogsType'
      required:
      - catalog_type
      oneOf:
      - $ref: '#/components/schemas/CatalogsRetailReportParameters'
      - $ref: '#/components/schemas/CatalogsHotelReportParameters'
      discriminator:
        propertyName: catalog_type
        mapping:
          RETAIL: '#/components/schemas/CatalogsRetailReportParameters'
          HOTEL: '#/components/schemas/CatalogsHotelReportParameters'
    CatalogsCreateReportResponse:
      type: object
      properties:
        token:
          type: string
          description: Token to be used to get the report
    CampaignSummaryStatus:
      type: string
      description: Summary status for campaign
      example: RUNNING
      enum:
      - RUNNING
      - PAUSED
      - NOT_STARTED
      - COMPLETED
      - ADVERTISER_DISABLED
      - ARCHIVED
      - DRAFT
      - DELETED_DRAFT
    BulkReportingJobStatus:
      type: string
      description: Possible status for a bulk reporting job
      example: FINISHED
      enum:
      - DOES_NOT_EXIST
      - FINISHED
      - IN_PROGRESS
      - EXPIRED
      - FAILED
      - CANCELLED
    Granularity:
      type: string
      description: Granularity
      enum:
      - TOTAL
      - DAY
      - HOUR
      - WEEK
      - MONTH
    CatalogsReportDistributionStats:
      type: object
      properties:
        report_type:
          type: string
          enum:
          - DISTRIBUTION_ISSUES
        catalog_id:
          type: string
          pattern: ^\d+$
          description: ID of the catalog entity.
        code:
          description: The event code that a diagnostics aggregated number references
          type: integer
        code_label:
          description: A human-friendly label for the event code (e.g, 'SPAM')
          type: string
          example: SPAM
        message:
          description: Title message describing the diagnostic issue
          type: string
        occurrences:
          description: Number of occurrences of the issue
          example: 10
          type: integer
        ineligible_for_ads:
          description: Indicates if issue makes items ineligible for ads distribution
          example: true
          type: boolean
        ineligible_for_organic:
          description: Indicates if issue makes items ineligible for organic distribution
          example: true
          type: boolean
    ConversionReportTimeType:
      type: string
      description: Conversion report time type
      example: TIME_OF_AD_ACTION
      enum:
      - TIME_OF_AD_ACTION
      - TIME_OF_CONVERSION
    CatalogsType:
      description: Type of the catalog entity.
      type: string
      enum:
      - RETAIL
      - HOTEL
      - CREATIVE_ASSETS
    MMMReportingColumn:
      type: string
      description: Marketing Mix Modeling (MMM) Reporting Columns
      example: SPEND_IN_DOLLAR
      enum:
      - SPEND_IN_DOLLAR
      - SPEND_IN_MICRO_DOLLAR
      - ECPC_IN_DOLLAR
      - ECTR
      - CAMPAIGN_NAME
      - TOTAL_ENGAGEMENT
      - EENGAGEMENT_RATE
      - ECPM_IN_DOLLAR
      - CAMPAIGN_ID
      - ADVERTISER_ID
      - AD_GROUP_ID
      - AD_GROUP_NAME
      - CLICKTHROUGH_1
      - IMPRESSION_1
      - CLICKTHROUGH_2
      - IMPRESSION_2
      - TOTAL_CLICKTHROUGH
      - TOTAL_IMPRESSION
      - ADVERTISER_NAME
      - SPEND_ORDER_LINE_PAID_TYPE
    AdsAnalyticsGetAsyncResponse:
      type: object
      properties:
        report_status:
          type: string
          allOf:
          - $ref: '#/components/schemas/BulkReportingJobStatus'
        url:
          type: string
          nullable: true
        size:
          type: number
          nullable: true
    AdsAnalyticsFilterColumn:
      type: string
      description: Reporting columns for sync reporting data filter
      example: SPEND_IN_DOLLAR
      enum:
      - SPEND_IN_DOLLAR
      - TOTAL_IMPRESSION
  securitySchemes:
    pinterest_oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.pinterest.com/oauth/
          tokenUrl: https://api.pinterest.com/v5/oauth/token
          scopes:
            ads:read: See all of your advertising data, including ads, ad groups, campaigns etc.
            ads:write: Create, update, or delete ads, ad groups, campaigns etc.
            billing:read: See all of your billing data, billing profile, etc.
            billing:write: Create, update, or delete billing data, billing profiles, etc.
            biz_access:read: See business access data
            biz_access:write: Create, update, or delete business access data
            boards:read: See your public boards, including group boards you join
            boards:read_secret: See your secret boards
            boards:write: Create, update, or delete your public boards
            boards:write_secret: Create, update, or delete your secret boards
            catalogs:read: See all of your catalogs data
            catalogs:write: Create, update, or delete your catalogs data
            pins:read: See your public Pins
            pins:read_secret: See your secret Pins
            pins:write: Create, update, or delete your public Pins
            pins:write_secret: Create, update, or delete your secret Pins
            user_accounts:read: See your user accounts and followers
            user_accounts:write: Update your user accounts and followers
    conversion_token:
      type: http
      scheme: bearer
      description: This security scheme only applies to the conversion events endpoint (POST /ad_accounts/{ad_account_id}/events). This endpoint requires a bearer token generated via Ads Manager (ads.pinterest.com).
    basic:
      type: http
      scheme: basic
x-tagGroups:
- name: Pin and Boards
  tags:
  - pins
  - boards
  - media
  - aggregated_comments
  - aggregated_pin_data
  - user_account
- name: Campaign Management
  tags:
  - ad_accounts
  - campaigns
  - ad_groups
  - ads
  - product_group_promotions
  - bulk
- name: Targeting
  tags:
  - audiences
  - customer_lists
  - keywords
  - targeting_template
  - audience_insights
  - audience_sharing
- name: Ad Formats
  tags:
  - lead_forms
  - lead_ads
  - leads_export
- name: Billing
  tags:
  - billing
  - order_lines
  - terms_of_service
- name: Business Access
  tags:
  - business_access_assets
  - business_access_invite
  - business_access_relationships
- name: Conversions
  tags:
  - conversion_events
  - conversion_tags
- name: Others
  tags:
  - integrations
  - oauth
  - resources
  - search
  - terms
- name: Shopping
  tags:
  - catalogs
- name: Deprecated
  tags:
  - product_groups
