openapi: 3.0.3
info:
  version: 5.13.0
  title: Pinterest Groups API
  description: This is the description of your API.
  contact:
    name: Pinterest, Inc.
    url: https://developers.pinterest.com/
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://developers.pinterest.com/terms/
servers:
- url: https://api.pinterest.com/v5
tags:
- name: Groups
paths:
  /ad_accounts/{ad_account_id}/ad_groups:
    get:
      summary: List ad groups
      description: 'List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). <p/>

        <strong>Note:</strong><p/>

        Provide only campaign_id or ad_group_id. Do not provide both.'
      operationId: ad_groups/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_campaign_ids'
      - $ref: '#/components/parameters/query_ad_group_ids'
      - $ref: '#/components/parameters/query_entity_statuses'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_translate_interests_to_names'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/AdGroupResponse'
          description: Success
        '400':
          description: Invalid ad account group parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account group parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
    post:
      summary: Create ad groups
      description: "Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other). For more information, <a href=\"https://help.pinterest.com/en/business/article/campaign-structure\" target=\"_blank\"> click here</a>.</p>\n<strong>Note:</strong>\n- 'bid_in_micro_currency' and 'budget_in_micro_currency' should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.<p/>\n<p>Microcurrency is used to track very small transactions, based on the currency set in the advertisers profile.</p>\n<p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertisers profile.</p>\n <p><strong>Equivalency equations</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>$1 = 1,000,000 microdollars</li>\n  <li>1 microdollar = $0.000001 </li>\n</ul>\n<p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>\n  <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li>\n</ul>\n- Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message.\n- Start and end time cannot be set for ad groups that belong to CBO campaigns. Currently, campaigns with the following objective types: TRAFFIC, AWARENESS, WEB_CONVERSIONS, and CATALOG_SALES will default to CBO."
      operationId: ad_groups/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupCreateRequest'
              maxItems: 30
              minItems: 1
              type: array
        description: List of ad groups to create, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Groups
    patch:
      summary: Update ad groups
      description: Update multiple existing ad groups.
      operationId: ad_groups/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AdGroupUpdateRequest'
              maxItems: 30
              minItems: 1
              type: array
        description: List of ad groups to update, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupArrayResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/ad_groups/analytics:
    get:
      summary: Get ad group analytics
      description: 'Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.

        - The token''s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.

        - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.

        - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.'
      operationId: ad_groups/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_ad_group_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupsAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account group analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account group analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/ad_groups/targeting_analytics:
    get:
      summary: Get targeting analytics for ad groups
      description: 'Get targeting analytics for one or more ad groups.

        For the requested ad group(s) and metrics, the response will include the requested metric information

        (e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. "age_bucket") for applicable values (e.g. "45-49"). <p/>

        - The token''s user_account must either be the Owner of the specified ad account, or have one

        of the necessary roles granted to them via

        <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.

        - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.

        - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.'
      operationId: ad_groups_targeting_analytics/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_ad_group_ids_required'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_targeting_types'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      - $ref: '#/components/parameters/query_attribution_types'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: Success
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/ad_groups/audience_sizing:
    post:
      summary: Get audience sizing
      description: "Get potential audience size for an ad group with given targeting criteria. \nPotential audience size estimates the number of people you may be able to reach per month with your campaign. \nIt is based on historical advertising data and the targeting criteria you select.\nIt does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments."
      operationId: ad_groups/audience_sizing
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdGroupAudienceSizingRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupAudienceSizingResponse'
          description: Success
        '400':
          description: Invalid ad group audience sizing parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad group audience sizing parameters.
        '403':
          description: No access to requested audience list or product group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: You don't have access to the requested audience list or product group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}:
    get:
      summary: Get ad group
      description: 'Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will

        contain additional information from the Ad Review process.

        For more information about our policies and rejection reasons see the <a href="https://www.pinterest.com/_/_/policy/advertising-guidelines/"

        target="_blank">Pinterest advertising standards</a>.'
      operationId: ad_groups/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_ad_group_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/product_group_promotions:
    post:
      description: Add one or more product groups from your catalog to an existing ad group. (Product groups added to an ad group are a 'product group promotion.')
      operationId: product_group_promotions/create
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductGroupPromotionCreateRequest'
        description: List of Product Group Promotions to create, size limit [1, 30].
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupPromotionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Create product group promotions
      tags:
      - Groups
    patch:
      description: Update multiple existing Product Group Promotions (by product_group_id)
      operationId: product_group_promotions/update
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductGroupPromotionUpdateRequest'
        description: Parameters to update Product group promotions
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupPromotionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Update product group promotions
      tags:
      - Groups
    get:
      description: 'List existing product group promotions associated with an ad account.


        Include either ad_group_id or product_group_promotion_ids in your request.


        <b>Note:</b> ad_group_ids and product_group_promotion_ids are mutually exclusive parameters.

        Only provide one. If multiple options are provided, product_group_promotion_ids takes precedence over ad_group_ids. If none are provided, the endpoint returns an error.'
      operationId: product_group_promotions/list
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_product_group_promotion_ids'
      - $ref: '#/components/parameters/query_entity_statuses'
      - $ref: '#/components/parameters/query_ad_group_id'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_order'
      - $ref: '#/components/parameters/query_bookmark'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProductGroupPromotionResponseItem'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get product group promotions
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/product_group_promotions/{product_group_promotion_id}:
    get:
      description: Get a product group promotion by id
      operationId: product_group_promotions/get
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_read
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/path_product_group_promotion_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupPromotionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error
      summary: Get a product group promotion by id
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/product_groups/analytics:
    get:
      summary: Get product group analytics
      description: 'Get analytics for the specified product groups in the specified <code>ad_account_id</code>, filtered by the specified options.

        - The token''s user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a>: Admin, Analyst, Campaign Manager.

        - If granularity is not HOUR, the furthest back you can are allowed to pull data is 90 days before the current date in UTC time and the max time range supported is 90 days.

        - If granularity is HOUR, the furthest back you can are allowed to pull data is 8 days before the current date in UTC time and the max time range supported is 3 days.'
      operationId: product_groups/analytics
      security:
      - pinterest_oauth2:
        - ads:read
      x-ratelimit-category: ads_analytics
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_start_date'
      - $ref: '#/components/parameters/query_end_date'
      - $ref: '#/components/parameters/query_product_group_ids_required'
      - $ref: '#/components/parameters/query_columns'
      - $ref: '#/components/parameters/query_granularity'
      - $ref: '#/components/parameters/query_conversion_attribution_click_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_engagement_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_view_window_days'
      - $ref: '#/components/parameters/query_conversion_attribution_conversion_report_time'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroupAnalyticsResponse'
          description: Success
        '400':
          description: Invalid ad account ads analytics parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads analytics parameters.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /ad_accounts/{ad_account_id}/product_groups/catalogs:
    get:
      deprecated: true
      description: This endpoint is completely deprecated. Please use <a href='/docs/api/v5/#operation/catalogs_product_groups/list'>List product groups</a> from Catalogs API instead.
      operationId: ad_accounts_catalogs_product_groups/list
      security:
      - pinterest_oauth2:
        - ads:write
      x-ratelimit-category: ads_write
      x-sandbox: disabled
      parameters:
      - $ref: '#/components/parameters/path_ad_account_id'
      - $ref: '#/components/parameters/query_feed_profile_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogProductGroup'
          description: Success
        '400':
          description: Invalid ad account ads parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Invalid ad account ads parameters.
        '401':
          description: Access Denied. This can happen if account is not yet approved to operate as Merchant on Pinterest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Merchant data not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: Get catalog product groups
      tags:
      - Groups
  /catalogs/product_groups/multiple:
    delete:
      x-ratelimit-category: catalogs_write
      summary: Delete multiple product groups
      description: 'Delete product groups owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_groups/delete_many
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_catalogs_product_group_ids_required'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      responses:
        '204':
          description: Catalogs Product Groups deleted successfully.
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't delete this catalogs product group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupHasActivePromotions:
                  value:
                    code: 4176
                    message: We can't delete a Catalogs Product Group with active promotions.
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
    post:
      x-ratelimit-category: catalogs_write
      summary: Create multiple product group
      description: 'Create product group to use in Catalogs owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>


        Note: The catalog type of Creative Assets is only allowed in the <a href=''https://api-sandbox.pinterest.com/v5''>Pinterest API Sandbox</a>.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/create_many
      security:
      - pinterest_oauth2:
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object used to create one or more catalogs product groups.
        required: true
        content:
          application/json:
            schema:
              type: array
              title: multiple product groups
              items:
                oneOf:
                - $ref: '#/components/schemas/CatalogsProductGroupCreateRequest'
                - $ref: '#/components/schemas/CatalogsVerticalProductGroupCreateRequest'
            examples:
              RetailFewFiltersUsingAllOf:
                summary: A simple retail example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a product to be included in the Product Group.

                  '
                value:
                - name: Few Filters using "all_of"
                  feed_id: '2680059592705'
                  featured: false
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 999.99
                        inclusion: true
                    - CURRENCY:
                        values: USD
                    - CUSTOM_LABEL_0:
                        values:
                        - Luxury Items
              RetailManyFiltersUsingAnyOf:
                summary: A more complete retail example that applies "any of the following filters".
                description: 'The use of "any_of" creates a Product Group where any of the individual filters

                  can add products to the Product Group independently.

                  '
                value:
                - name: Many Filters using "any_of"
                  featured: false
                  feed_id: '2680059592705'
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 111.55
                        inclusion: false
                        negated: false
                    - CURRENCY:
                        values: USD
                        negated: false
                    - AVAILABILITY:
                        values:
                        - IN_STOCK
                        - OUT_OF_STOCK
                        - PREORDER
                        negated: false
                    - BRAND:
                        values:
                        - avanti
                        - beautyrest
                        negated: true
                    - GOOGLE_PRODUCT_CATEGORY_0:
                        values:
                        - - furniture
                          - tables
                          - accent tables
                          - end tables
                        - - furniture
                          - chairs
                          - slipper chairs
                        - - home & garden
                        negated: false
                    - CONDITION:
                        values:
                        - NEW
                        - REFURBISHED
                        - USED
                        negated: false
                    - CUSTOM_LABEL_0:
                        values:
                        - 004 - home furn leisure
                        negated: false
                    - CUSTOM_LABEL_1:
                        values:
                        - clearance
                        - original price
                        negated: false
                    - CUSTOM_LABEL_2:
                        values:
                        - 789 - table linens
                        - 794 - living room accents
                        negated: false
                    - GENDER:
                        values:
                        - FEMALE
                        - MALE
                        - UNISEX
                        negated: false
                    - ITEM_ID:
                        values:
                        - does not exists
                        - this one neither
                        - nope
                        negated: true
                    - ITEM_GROUP_ID:
                        values:
                        - nonexistant group
                        - another one
                        - last one
                        negated: true
                    - PRODUCT_TYPE_0:
                        values:
                        - - accent chairs
                          - club chairs
                        - - accent chairs
                          - slipper chairs
                        - - accent tables
                          - end tables
                        - - air mattresses
                          - air mattresses
                        - - table linens
                        negated: false
              HotelFewFiltersUsingAllOf:
                summary: A simple hotel example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a hotel to be included in the Product Group.

                  '
                value:
                - catalog_type: HOTEL
                  name: Few Filters using "all_of"
                  catalog_id: '4866935934774'
                  filters:
                    all_of:
                    - HOTEL_ID:
                        values:
                        - hotel1
                        - hotel2
                    - CUSTOM_LABEL_1:
                        values:
                        - big_hotels
                        negated: false
      responses:
        '201':
          content:
            application/json:
              schema:
                type: array
                items:
                  description: ID of a created catalog product group.
                  example: '443727193917'
                  type: string
                  pattern: ^\d+$
          description: Success
        '400':
          description: Invalid body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /catalogs/product_groups:
    get:
      x-ratelimit-category: catalogs_read
      summary: List product groups
      description: 'Get a list of product groups for a given Catalogs Feed Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_groups/list
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_catalogs_product_group_ids'
      - $ref: '#/components/parameters/query_catalogs_feed_id'
      - $ref: '#/components/parameters/query_catalogs_catalog_id'
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid feed parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Data feed not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                FeedNotFound:
                  value:
                    code: 4161
                    message: Sorry! We could not find your catalogs feed.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
    post:
      x-ratelimit-category: catalogs_write
      summary: Create single product group
      description: 'Create product group to use in Catalogs owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>


        Note: The catalog type of Creative Assets is only allowed in the <a href=''https://api-sandbox.pinterest.com/v5''>Pinterest API Sandbox</a>.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/create
      security:
      - pinterest_oauth2:
        - catalogs:write
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Request object used to create a single catalogs product groups.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CatalogsProductGroupCreateRequest'
              - $ref: '#/components/schemas/CatalogsVerticalProductGroupCreateRequest'
            examples:
              RetailFewFiltersUsingAllOf:
                summary: A simple retail example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a product to be included in the Product Group.

                  '
                value:
                  name: Few Filters using "all_of"
                  feed_id: '2680059592705'
                  featured: false
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 999.99
                        inclusion: true
                    - CURRENCY:
                        values: USD
                    - CUSTOM_LABEL_0:
                        values:
                        - Luxury Items
              RetailManyFiltersUsingAnyOf:
                summary: A more complete retail example that applies "any of the following filters".
                description: 'The use of "any_of" creates a Product Group where any of the individual filters

                  can add products to the Product Group independently.

                  '
                value:
                  name: Many Filters using "any_of"
                  featured: false
                  feed_id: '2680059592705'
                  filters:
                    all_of:
                    - MIN_PRICE:
                        values: 111.55
                        inclusion: false
                        negated: false
                    - CURRENCY:
                        values: USD
                        negated: false
                    - AVAILABILITY:
                        values:
                        - IN_STOCK
                        - OUT_OF_STOCK
                        - PREORDER
                        negated: false
                    - BRAND:
                        values:
                        - avanti
                        - beautyrest
                        negated: true
                    - GOOGLE_PRODUCT_CATEGORY_0:
                        values:
                        - - furniture
                          - tables
                          - accent tables
                          - end tables
                        - - furniture
                          - chairs
                          - slipper chairs
                        - - home & garden
                        negated: false
                    - CONDITION:
                        values:
                        - NEW
                        - REFURBISHED
                        - USED
                        negated: false
                    - CUSTOM_LABEL_0:
                        values:
                        - 004 - home furn leisure
                        negated: false
                    - CUSTOM_LABEL_1:
                        values:
                        - clearance
                        - original price
                        negated: false
                    - CUSTOM_LABEL_2:
                        values:
                        - 789 - table linens
                        - 794 - living room accents
                        negated: false
                    - GENDER:
                        values:
                        - FEMALE
                        - MALE
                        - UNISEX
                        negated: false
                    - ITEM_ID:
                        values:
                        - does not exists
                        - this one neither
                        - nope
                        negated: true
                    - ITEM_GROUP_ID:
                        values:
                        - nonexistant group
                        - another one
                        - last one
                        negated: true
                    - PRODUCT_TYPE_0:
                        values:
                        - - accent chairs
                          - club chairs
                        - - accent chairs
                          - slipper chairs
                        - - accent tables
                          - end tables
                        - - air mattresses
                          - air mattresses
                        - - table linens
                        negated: false
              HotelFewFiltersUsingAllOf:
                summary: A simple hotel example that applies "all of the following filters".
                description: 'The use of "all_of" creates a Product Group where all of the individual filters

                  must be satisfied by a hotel to be included in the Product Group.

                  '
                value:
                  catalog_type: HOTEL
                  name: Few Filters using "all_of"
                  catalog_id: '4866935934774'
                  filters:
                    all_of:
                    - HOTEL_ID:
                        values:
                        - hotel1
                        - hotel2
                    - CUSTOM_LABEL_1:
                        values:
                        - big_hotels
                        negated: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''feed_id'' value ''1511851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '409':
          description: Conflict. Can't create this catalogs product group with this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /catalogs/product_groups/{product_group_id}:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get single product group
      description: 'Get a singe product group for a given Catalogs Product Group Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_groups/get
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid catalogs product group id parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't get a catalogs product group without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't acccess this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
    delete:
      x-ratelimit-category: catalogs_write
      summary: Delete single product group
      description: 'Delete a product group owned by the "operation user_account" from being in use in Catalogs.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_groups/delete
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      responses:
        '204':
          description: Catalogs Product Group deleted successfully.
        '400':
          description: Invalid catalogs product group id parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't delete this catalogs product group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupHasActivePromotions:
                  value:
                    code: 4176
                    message: We can't delete a Catalogs Product Group with active promotions.
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
    patch:
      x-ratelimit-category: catalogs_write
      summary: Update single product group
      description: 'Update product group owned by the "operation user_account" to use in Catalogs.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        <a href=''/docs/shopping/catalog/''>Learn more</a>


        Note: The catalog type of Creative Assets is only allowed in the <a href=''https://api-sandbox.pinterest.com/v5''>Pinterest API Sandbox</a>.

        If access is required, please contact your partner manager.'
      operationId: catalogs_product_groups/update
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      security:
      - pinterest_oauth2:
        - catalogs:write
      requestBody:
        description: Request object used to Update a catalogs product group.
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CatalogsProductGroupUpdateRequest'
              - $ref: '#/components/schemas/CatalogsVerticalProductGroupUpdateRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsVerticalProductGroup'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '403':
          description: Forbidden. Account not approved for catalog product group mutations yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MerchantDisapproved:
                  value:
                    code: 2625
                    message: Sorry, you cannot perform this action. Account is disapproved.
                MerchantUnderReview:
                  value:
                    code: 2626
                    message: Sorry, you cannot perform this action. Account is under review.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Conflict. Can't update this catalogs product group to this value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CannotAlterAutoGeneratedCatalogsProductGroup:
                  value:
                    code: 4177
                    message: You cannot alter an auto generated catalogs product group.
                CatalogsProductGroupFiltersAlreadyExist:
                  value:
                    code: 4178
                    message: A catalogs product group with these filters already exists for this feed.
                CatalogsProductGroupNameAlreadyExist:
                  value:
                    code: 4179
                    message: A catalogs product group with this name already exists for this feed.
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /catalogs/product_groups/{product_group_id}/product_counts:
    get:
      x-ratelimit-category: catalogs_read
      summary: Get product counts for a Product Group
      description: 'Get a product counts for a given Catalogs Product Group owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        Note: This endpoint only supports RETAIL catalog at the moment.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_groups/product_counts_get
      security:
      - pinterest_oauth2:
        - catalogs:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogsProductGroupProductCounts'
          description: Success
        '404':
          description: Product Group Not Found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        '409':
          description: Can't access this feature without an existing catalog.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't access this feature without an existing catalog.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /catalogs/product_groups/{product_group_id}/products:
    get:
      x-ratelimit-category: catalogs_read
      summary: List products for a Product Group
      description: 'Get a list of product pins for a given Catalogs Product Group Id owned by the "operation user_account".

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        Note: This endpoint only supports RETAIL catalog at the moment.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: catalogs_product_group_pins/list
      security:
      - pinterest_oauth2:
        - boards:read
        - catalogs:read
        - pins:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/path_catalogs_product_group_id'
      - $ref: '#/components/parameters/query_ad_account_id'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      description: Pins
                      items:
                        $ref: '#/components/schemas/CatalogsProduct'
          description: Success
        '400':
          description: Invalid parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                InvalidRequest:
                  value:
                    code: 1
                    message: '''product_group_id'' value ''11851494501_'' must match the pattern: ^\d+$"}'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '404':
          description: Catalogs product group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsProductGroupNotFound:
                  value:
                    code: 4180
                    message: Sorry! We could not find your catalogs product group.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
  /catalogs/products/get_by_product_group_filters:
    post:
      x-ratelimit-category: catalogs_read
      summary: List products for Product Group Filters
      description: 'List products Pins owned by the "operation user_account" that meet the criteria specified in the Catalogs Product Group Filter given in the request.

        - This endpoint has been implemented in POST to allow for complex filters. This specific POST endpoint is designed to be idempotent.

        - By default, the "operation user_account" is the token user_account.


        Optional: Business Access: Specify an <code>ad_account_id</code> (obtained via <a href=''/docs/api/v5/#operation/ad_accounts/list''>List ad accounts</a>) to use the owner of that ad_account as the "operation user_account". In order to do this, the token user_account must have one of the following <a href="https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts">Business Access</a> roles on the ad_account: Owner, Admin, Catalogs Manager.


        Note: This endpoint only supports RETAIL catalog at the moment.


        <a href=''/docs/shopping/catalog/''>Learn more</a>'
      operationId: products_by_product_group_filter/list
      security:
      - pinterest_oauth2:
        - boards:read
        - catalogs:read
        - pins:read
      x-sandbox: enabled
      parameters:
      - $ref: '#/components/parameters/query_bookmark'
      - $ref: '#/components/parameters/query_page_size'
      - $ref: '#/components/parameters/query_ad_account_id'
      requestBody:
        description: Object holding a group of filters for a catalog product group
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogsListProductsByFilterRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Paginated'
                - type: object
                  properties:
                    items:
                      description: Pins
                      items:
                        $ref: '#/components/schemas/CatalogsProduct'
          description: Success
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnauthorizedAccess:
                  value:
                    code: 29
                    message: You are not permitted to access that resource.
        '409':
          description: Conflict. Can't get products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CatalogsMerchantNotCreated:
                  value:
                    code: 4182
                    message: Can't acccess this feature without an existing catalog.
                CatalogsProductGroupFiltersInvalid:
                  value:
                    code: 4183
                    message: Catalog product group filters failed validation, please ensure all filters are set correctly.
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Groups
components:
  schemas:
    CatalogsHotelProductGroupFiltersAllOf:
      type: object
      additionalProperties: false
      properties:
        all_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsHotelProductGroupFilterKeys'
      required:
      - all_of
    AdGroupArrayResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdGroupArrayResponseElement'
    CatalogsProductGroupCreateRequest:
      type: object
      title: retail feed based
      description: Request object for creating a product group.
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        is_featured:
          description: boolean indicator of whether the product group is being featured or not
          type: boolean
          default: false
        filters:
          $ref: '#/components/schemas/CatalogsProductGroupFiltersRequest'
        feed_id:
          description: Catalog Feed id pertaining to the catalog product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
      required:
      - name
      - filters
      - feed_id
    EntityStatus:
      type: string
      description: Entity status
      example: ACTIVE
      enum:
      - ACTIVE
      - PAUSED
      - ARCHIVED
      - DRAFT
      - DELETED_DRAFT
    CatalogsHotelProductGroupFiltersAnyOf:
      type: object
      additionalProperties: false
      properties:
        any_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsHotelProductGroupFilterKeys'
      required:
      - any_of
    ProductGroupPromotionCreateRequestElement:
      type: object
      title: ProductGroupPromotionCreateRequestElement
      allOf:
      - $ref: '#/components/schemas/ProductGroupPromotion'
      - type: object
        properties:
          creative_type:
            $ref: '#/components/schemas/CreativeType'
    AdGroupsAnalyticsResponse:
      type: array
      items:
        type: object
        properties:
          AD_GROUP_ID:
            description: The ID of the ad group that this metrics belongs to.
            type: string
            pattern: ^\d+$
          DATE:
            description: Current metrics date. Only returned when granularity is a time-based value (`DAY`, `HOUR`, `WEEK`, `MONTH`)
            type: string
            format: date
        required:
        - AD_GROUP_ID
        additionalProperties: true
        example:
          DATE: '2021-04-01'
          AD_GROUP_ID: '547602124502'
          SPEND_IN_DOLLAR: 30
          TOTAL_CLICKTHROUGH: 216
    CatalogsProductMetadata:
      type: object
      description: Product metadata entity
      properties:
        item_id:
          description: The user-created unique ID that represents the product.
          example: DS0294-L
          type: string
        item_group_id:
          description: The parent ID of the product.
          example: DS0294
          type: string
          nullable: true
        availability:
          $ref: '#/components/schemas/NonNullableProductAvailabilityType'
        price:
          description: The price of the product.
          example: 24.99
          type: number
        sale_price:
          description: The discounted price of the product.
          example: 14.99
          type: number
          nullable: true
        currency:
          $ref: '#/components/schemas/NonNullableCatalogsCurrency'
      required:
      - item_id
      - item_group_id
      - availability
      - price
      - sale_price
      - currency
    AdGroupArrayResponseElement:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AdGroupResponse'
        exceptions:
          type: array
          items:
            $ref: '#/components/schemas/Exception'
    CatalogsProductGroupMultipleStringCriteria:
      title: catalogs_product_group_multiple_string_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            type: string
        negated:
          type: boolean
          default: false
      required:
      - values
    ProductType1Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_1:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_1
    CustomLabel3Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_3:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_3
    GenderFilter:
      type: object
      additionalProperties: false
      properties:
        GENDER:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleGenderCriteria'
      required:
      - GENDER
    CatalogsProductGroupCurrencyCriteria:
      title: catalogs_product_group_currency_criteria
      type: object
      description: A currency filter. This filter cannot be negated
      additionalProperties: false
      properties:
        values:
          $ref: '#/components/schemas/NonNullableCatalogsCurrency'
        negated:
          type: boolean
          default: false
          enum:
          - false
      required:
      - values
    GoogleProductCategory4Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_4:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_4
    NonNullableCatalogsCurrency:
      type: string
      description: Currency Codes from ISO 4217.
      nullable: false
      example: USD
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BYR
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SPL
      - SRD
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XDR
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWD
    CatalogsCreativeAssetsProductGroupCreateRequest:
      type: object
      title: creative_assets_product_groups_create_request
      additionalProperties: false
      description: Request object for creating a creative assets product group.
      properties:
        catalog_type:
          type: string
          enum:
          - CREATIVE_ASSETS
        name:
          type: string
        description:
          type: string
          nullable: true
        filters:
          $ref: '#/components/schemas/CatalogsCreativeAssetsProductGroupFilters'
        catalog_id:
          description: Catalog id pertaining to the creative assets product group.
          example: '2680059592705'
          type: string
          pattern: ^\d+$
      required:
      - name
      - filters
      - catalog_id
      - catalog_type
    Board:
      title: Board
      description: Board
      type: object
      properties:
        id:
          type: string
          readOnly: true
          example: '549755885175'
        created_at:
          type: string
          description: Date and time of board creation.
          readOnly: true
          format: date-time
          example: '2020-01-01T20:10:40-00:00'
        board_pins_modified_at:
          type: string
          description: Date and time of last board pins modified.
          readOnly: true
          format: date-time
          example: '2020-01-01T20:10:40-00:00'
        name:
          type: string
          example: Summer Recipes
        description:
          type: string
          nullable: true
          example: My favorite summer recipes
        collaborator_count:
          type: integer
          description: Count of collaborators on the board.
          minimum: 0
          readOnly: true
          example: 17
        pin_count:
          type: integer
          description: Count of pins on the board.
          minimum: 0
          readOnly: true
          example: 5
        follower_count:
          type: integer
          description: Board follower count.
          readOnly: true
          minimum: 0
          example: 13
        media:
          type: object
          readOnly: true
          description: Board media.
          properties:
            image_cover_url:
              type: string
              nullable: true
              description: Board cover image.
              example: https://i.pinimg.com/400x300/fd/cd/d5/fdcdd5a6d8a80824add0d054125cd957.jpg
            pin_thumbnail_urls:
              type: array
              description: Board pin thumbnail urls.
              items:
                type: string
              example:
              - https://i.pinimg.com/150x150/b4/57/10/b45710f1ede96af55230f4b43935c4af.jpg
              - https://i.pinimg.com/150x150/dd/ff/46/ddff4616e39c1935cd05738794fa860e.jpg
              - https://i.pinimg.com/150x150/84/ac/59/84ac59b670ccb5b903dace480a98930c.jpg
              - https://i.pinimg.com/150x150/4c/54/6f/4c546f521be85e30838fb742bfff6936.jpg
        owner:
          allOf:
          - $ref: '#/components/schemas/BoardOwner'
          type: object
          readOnly: true
        privacy:
          type: string
          default: PUBLIC
          description: Privacy setting for a board. Learn more about <a href="https://help.pinterest.com/en/article/secret-boards">secret boards</a> and <a href="https://help.pinterest.com/en/business/article/protected-boards">protected boards</a>
          enum:
          - PUBLIC
          - PROTECTED
          - SECRET
      required:
      - name
    ProductType4Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_4:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_4
    OptimizationGoalMetadata:
      type: object
      properties:
        conversion_tag_v3_goal_metadata:
          properties:
            attribution_windows:
              properties:
                click_window_days:
                  type: integer
                engagement_window_days:
                  type: integer
                view_window_days:
                  type: integer
              type: object
            conversion_event:
              type: string
              enum:
              - PAGE_VISIT
              - SIGNUP
              - CHECKOUT
              - CUSTOM
              - VIEW_CATEGORY
              - SEARCH
              - ADD_TO_CART
              - WATCH_VIDEO
              - LEAD
              - APP_INSTALL
            conversion_tag_id:
              type: string
              pattern: ^[0-9]+$
            cpa_goal_value_in_micro_currency:
              type: string
              pattern: ^[0-9]+$
            is_roas_optimized:
              description: Ad group is ROAS optimized
              nullable: true
              title: is_roas_optimized
              type: boolean
            learning_mode_type:
              description: Conversion learning model type
              enum:
              - NOT_ACTIVE
              - ACTIVE
              - null
              example: ACTIVE
              nullable: true
              title: ConversionLearningModeType
              type: string
          type: object
        frequency_goal_metadata:
          properties:
            frequency:
              type: integer
            timerange:
              type: string
              description: User entity counts time range
              example: DAY
              enum:
              - THIRTY_DAY
              - DAY
              - SEVEN_DAY
              - TWENTY_MINUTE
              - TEN_MINUTE
              - TWENTY_FOUR_HOUR
          type: object
        scrollup_goal_metadata:
          properties:
            scrollup_goal_value_in_micro_currency:
              pattern: ^[0-9]+$
              type: string
              nullable: true
          type: object
    CatalogsProductGroupFilters:
      description: Object holding a group of filters for a catalog product group
      title: catalogs_product_group_filters
      type: object
      anyOf:
      - $ref: '#/components/schemas/CatalogsProductGroupFiltersAnyOf'
      - $ref: '#/components/schemas/CatalogsProductGroupFiltersAllOf'
    PinMediaSourceImagesBase64:
      title: Images Base64
      description: Multiple Base64-encoded images media source
      additionalProperties: false
      properties:
        source_type:
          type: string
          enum:
          - multiple_image_base64
        items:
          items:
            additionalProperties: false
            properties:
              title:
                type: string
              description:
                type: string
              link:
                type: string
                description: Destination link for the image.
              content_type:
                type: string
                enum:
                - image/jpeg
                - image/png
              data:
                type: string
                description: Image to upload as base64 string.
                pattern: '[a-zA-Z0-9+\/=]+'
            required:
            - data
            - content_type
            type: object
          minItems: 2
          maxItems: 5
          description: Array with image objects.
          type: array
        index:
          type: integer
          minimum: 0
      required:
      - items
      type: object
    ProductGroupReferenceFilter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_GROUP:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - PRODUCT_GROUP
    BudgetType:
      description: Budget type. If DAILY, an ad group's daily spend will not exceed the budget parameter value. If LIFETIME, the end_time parameter is **REQUIRED**, and the ad group spend is spread evenly between the ad group `start_time` and `end_time` range. A CBO campaign automatically generates ad group budgets from its campaign budget to maximize campaign outcome. For CBO campaigns, only "CBO_ADGROUP" is allowed. For WEB_SESSIONS campaigns, only "LIFETIME" is allowed. For update, only draft ad groups may update budget type.
      example: DAILY
      enum:
      - DAILY
      - LIFETIME
      - CBO_ADGROUP
      type: string
    CatalogsProductGroupFiltersAnyOf:
      type: object
      additionalProperties: false
      properties:
        any_of:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CatalogsProductGroupFilterKeys'
      required:
      - any_of
    GoogleProductCategory6Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_6:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_6
    CatalogsProductGroupType:
      type: string
      title: product_group_type
      description: '<p>Catalog product group type</p>

        <p>MERCHANT_CREATED: Product groups created by merchants.

        <br>ALL_PRODUCTS: Consists of every product in your latest successful feed upload.

        <br>BEST_DEALS: Consists of products with the deepest drop in price.

        <br>PINNER_FAVORITES: Consists of products that are resonating most with people on Pinterest, based on engagement.

        <br>TOP_SELLERS: Consists of products with the highest conversion rate, if you have the conversion tag installed.

        <br>BACK_IN_STOCK: Consists of products that were previously out of stock and are now in stock.

        <br>NEW_ARRIVALS: Consists of products that are new to your Catalog.

        <br>SHOPIFY_COLLECTION: Product groups created based on Shopify Product Collections.

        <br>I2PC: Product groups created based on predicted product category.</p>'
      enum:
      - MERCHANT_CREATED
      - ALL_PRODUCTS
      - BEST_DEALS
      - PINNER_FAVORITES
      - TOP_SELLERS
      - BACK_IN_STOCK
      - NEW_ARRIVALS
      - SHOPIFY_COLLECTIONS
      - I2PC
      example: TOP_SELLERS
    BrandFilter:
      type: object
      additionalProperties: false
      properties:
        BRAND:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - BRAND
    Granularity:
      type: string
      description: Granularity
      enum:
      - TOTAL
      - DAY
      - HOUR
      - WEEK
      - MONTH
    CatalogsHotelProductGroup:
      type: object
      title: hotel_product_group
      properties:
        catalog_type:
          type: string
          enum:
          - HOTEL
        id:
          description: ID of the hotel product group.
          example: '443727193917'
          type: string
          pattern: ^\d+$
        name:
          description: Name of hotel product group
          example: Most Popular
          type: string
        description:
          type: string
          nullable: true
        filters:
          $ref: '#/components/schemas/CatalogsHotelProductGroupFilters'
        created_at:
          description: Unix timestamp in seconds of when catalog product group was created.
          example: 1621350033000
          type: integer
        updated_at:
          description: Unix timestamp in seconds of last time catalog product group was updated.
          example: 1622742155000
          type: integer
        catalog_id:
          description: Catalog id pertaining to the hotel product group.
          type: string
          pattern: ^\d+$
      required:
      - id
      - filters
      - catalog_type
      - catalog_id
    PinMediaSourceImagesURL:
      title: Images urls
      description: Multiple images urls-based media source
      additionalProperties: false
      properties:
        source_type:
          type: string
          enum:
          - multiple_image_urls
        items:
          items:
            additionalProperties: false
            properties:
              title:
                type: string
              description:
                type: string
              link:
                type: string
                description: Destination link for the image.
              url:
                description: URL of image to upload.
                type: string
            required:
            - url
            type: object
          minItems: 2
          maxItems: 5
          description: Array with image objects.
          type: array
        index:
          type: integer
          minimum: 0
      required:
      - items
      type: object
    CatalogsProductGroupPricingCriteria:
      title: catalogs_product_group_pricing_criteria
      type: object
      additionalProperties: false
      properties:
        inclusion:
          type: boolean
          default: true
        values:
          type: number
          minimum: 0
        negated:
          type: boolean
          default: false
      required:
      - values
    CustomLabel0Filter:
      type: object
      additionalProperties: false
      properties:
        CUSTOM_LABEL_0:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - CUSTOM_LABEL_0
    GridClickType:
      type: string
      description: Where a user is taken after clicking on an ad in grid. </p><strong>Note:</strong>  This parameter is read-only and is set to DIRECT_TO_DESTINATION by default for direct links supported ads.  grid_click_type values provided will be ignored.
      example: CLOSEUP
      nullable: true
      enum:
      - CLOSEUP
      - DIRECT_TO_DESTINATION
    PinMediaSource:
      title: Pin media source
      description: Pin media source.
      oneOf:
      - $ref: '#/components/schemas/PinMediaSourceImageBase64'
      - $ref: '#/components/schemas/PinMediaSourceImageURL'
      - $ref: '#/components/schemas/PinMediaSourceVideoID'
      - $ref: '#/components/schemas/PinMediaSourceImagesBase64'
      - $ref: '#/components/schemas/PinMediaSourceImagesURL'
      - $ref: '#/components/schemas/PinMediaSourcePinURL'
      discriminator:
        propertyName: source_type
        mapping:
          multiple_image_base64: '#/components/schemas/PinMediaSourceImagesBase64'
          image_base64: '#/components/schemas/PinMediaSourceImageBase64'
          multiple_image_urls: '#/components/schemas/PinMediaSourceImagesURL'
          image_url: '#/components/schemas/PinMediaSourceImageURL'
          video_id: '#/components/schemas/PinMediaSourceVideoID'
          pin_url: '#/components/schemas/PinMediaSourcePinURL'
    HotelIdFilter:
      type: object
      additionalProperties: false
      properties:
        HOTEL_ID:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringCriteria'
      required:
      - HOTEL_ID
    CatalogsProductGroupStatus:
      type: string
      enum:
      - ACTIVE
      - INACTIVE
    CatalogsProductGroupMultipleMediaTypesCriteria:
      title: catalogs_product_group_multiple_media_type_criteria
      type: object
      additionalProperties: false
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/MediaType'
        negated:
          type: boolean
          default: false
      required:
      - values
    ProductType3Filter:
      type: object
      additionalProperties: false
      properties:
        PRODUCT_TYPE_3:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - PRODUCT_TYPE_3
    GoogleProductCategory0Filter:
      type: object
      additionalProperties: false
      properties:
        GOOGLE_PRODUCT_CATEGORY_0:
          type: object
          $ref: '#/components/schemas/CatalogsProductGroupMultipleStringListCriteria'
      required:
      - GOOGLE_PRODUCT_CATEGORY_0
    ProductGroupPromotionResponseItem:
      type: object
      title: ProductGroupPromotionResponseItem
      properties:
        data:
          $ref: '#/components/schemas/ProductGroupPromotionResponseElement'
        exceptions:
          nullable: true
          items:
            nullable: true
            $ref: '#/components/schemas/Exception'
    CatalogsListProductsByFilterRequest:
      description: Request object to list products for a given product group filter.
      type: object
      oneOf:
      - description: Request object to list products for a given feed_id and product group filter.
        type: object
        additionalProperties: false
        properties:
          feed_id:
            description: Catalog Feed id pertaining to the catalog product group filter.
            example: '2680059592705'
            type: string
            pattern: ^\d+$
          filters:
            $ref: '#/components/schemas/CatalogsProductGroupFilters'
        required:
        - feed_id
        - filters
    ActionType:
      type: string
      description: Ad group billable event type. For update, only draft ad groups may update billable event.
      example: CLICKTHROUGH
      enum:
      - CLICKTHROUGH
      - IMPRESSION
      - VIDEO_V_50_MRC
    MetricsResponse:
      properties:
        data:
          items:
            type: object
          type: array
          example:
          - targeting_type: KEYWORD
            targeting_value: christmas decor ideas
            metrics:
              AD_GROUP_ID: 2680067996745
              DATE: '2022-04-26'
              SPEND_IN_DOLLAR: 240
          - targeting_type: APPTYPE
            targeting_value: iphone
            metrics:
              AD_GROUP_ID: 2680067996745
              DATE: '2022-04-26'
              SPEND_IN_DOLLAR: 240
          - targeting_type: APPTYPE
            targeting_value: ipad
            metrics:
              AD_GROUP_ID: 2680067996745
              DATE: '2022-04-26'
[...]
